{% extends 'include/homepage.html' %}
{% load static %}
{% block content %}


{% include 'include/header.html' %}


<section class="page_header_default pg_bg_cover alignment_center">
    <div class="bakground_cover" style="background-image:url({% static 'assets/images/page-image-1-min.jpg'%})"></div>
    <div class="page_header_content">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="banner_title_inner">
                        <div class="title">
                            <span class="main_tit">Детали команды</span> </div>
                    </div>
                </div>
                <div class="col-lg-12 vankine">
                    <ul class="breadcrumb m-auto">
                        <li><a href="index.html">Главная</a> </li>
                        <li class="active">Детали команды</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

                <!----==============page header==============--->
                <!--content start-->
                <div id="content" class="site-content">
                    <!---team-section-->
                    <section class="team-section-one">
                        <!---============spacing==========--->
                        <div class="pd_top_90"></div>
                        <!---============spacing==========--->
                        <div class="container">
                            <div class="row align-items-center">
                                <div class="col-lg-5 col-md-12">
                                    <div class="image">
                                        <img src="{{team.image.url}}" class="img-fluid" alt="img" />
                                    </div>
                                </div>
                                <div class="col-lg-7 col-md-12 pd_left_60">
                                    <div class="section_title type_one">
                                        <div class="title_whole">
                                            <h2 class="title"> {{team.name}}</h2>
                                        </div>
                                    </div>
                                    <!---============spacing==========--->
                                    <div class="pd_bottom_10"></div>
                                    <!---============spacing==========--->
                                    <div class="section_title type_one">
                                        <h4 class="sm_title"> {{team.job}}</h4>
                                        <p class="pd_top_0"> {{team.descriptions}}</p>
                                    </div>
                                    <!---============spacing==========--->
                                    <div class="pd_bottom_40"></div>
                                    <!---============spacing==========--->
                                    <div
                                        class="box bg_light_1 pd_top_50 pd_bottom_50 pd_left_50 pd_right_50 md_pd_left_15 md_pd_right_15">
                                        <div class="progress_bar">
                                            <div class="d-flex align-items-center">
                                                <h6 class="title_no_a_18">Разработка</h6>
                                                <div> <span class="count">79</span>%</div>
                                            </div>
                                            <div class="bar">
                                                <div class="bar-inner count-bar counted" data-percent="79%"
                                                    style="width: 79%;"></div>
                                            </div>
                                        </div>
                                        <!---============spacing==========--->
                                        <div class="pd_bottom_20"></div>
                                        <!---============spacing==========--->
                                        <div class="progress_bar">
                                            <div class="d-flex align-items-center">
                                                <h6 class="title_no_a_18">Банковское дело и транзакции</h6>
                                                <div> <span class="count">93</span>%</div>
                                            </div>
                                            <div class="bar">
                                                <div class="bar-inner count-bar counted" data-percent="93%"
                                                    style="width: 93%;"></div>
                                            </div>
                                        </div>
                                        <!---============spacing==========--->
                                        <div class="pd_bottom_20"></div>
                                        <!---============spacing==========--->
                                        <div class="progress_bar">
                                            <div class="d-flex align-items-center">
                                                <h6 class="title_no_a_18">Коммуникация</h6>
                                                <div> <span class="count">65</span>%</div>
                                            </div>
                                            <div class="bar">
                                                <div class="bar-inner count-bar counted" data-percent="65%"
                                                    style="width: 65%;"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!---team-section-->
                    <!---team-section-->
                    <section class="team-section-two">
                        <!---============spacing==========--->
                        <div class="pd_top_90"></div>
                        <!---============spacing==========--->
                        <div class="container">
                            <div class="row align-items-center">

                                <div class="col-lg-6 col-md-12">
                                    <div class="section_title type_one">

                                        <div class="title_whole">
                                            <h2 class="title"> Квалификация и Опыт</h2>
                                        </div>
                                        <p>Наши сотрудники - это не просто профессионалы, это эксперты в своей области. Мы ценим их уровень квалификации и богатый опыт, который они приносят в нашу команду. Каждый из наших специалистов обладает впечатляющими академическими и практическими знаниями, что позволяет нам предоставлять вам консультации и решения высочайшего уровня.</p>
                                    </div>
                                    <!---============spacing==========--->
                                    <div class="pd_bottom_30"></div>
                                    <!---============spacing==========--->
                                    <div class="row">
                                        <div class="col">
                                            <div class="position-relative">
                                                <ul class="list_box list">
                                                    <li>
                                                        <div class="d-flex align-items-center">
                                                            <div class="icon trans">
                                                                <i class=" flaticon-check-mark"></i></div>
                                                            <a class="links" href="team-detail.html#">                                          
                                                                Развитие бизнеса</a>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="d-flex align-items-center">
                                                            <div class="icon trans">
                                                                <i class=" flaticon-check-mark"></i></div>
                                                            <a class="links" href="team-detail.html#">
                                                                Маркетинговый анализ </a>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="d-flex align-items-center">
                                                            <div class="icon trans">
                                                                <i class=" flaticon-check-mark"></i></div>
                                                            <a class="links" href="team-detail.html#">                                                
                                                                Цифровые решения </a>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                            <!---============spacing==========--->
                                            <div class="pd_bottom_20"></div>
                                            <!---============spacing==========--->
                                        </div>
                                        <div class="col">
                                            <div class="position-relative">
                                                <ul class="list_box list">
                                                    <li>
                                                        <div class="d-flex align-items-center">
                                                            <div class="icon trans">
                                                                <i class=" flaticon-check-mark"></i></div>
                                                            <a class="links" href="team-detail.html#">                                                
                                                                Развитие бизнеса </a>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="d-flex align-items-center">
                                                            <div class="icon trans">
                                                                <i class=" flaticon-check-mark"></i></div>
                                                            <a class="links" href="team-detail.html#">
                                                                Маркетинговый анализ </a>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="d-flex align-items-center">
                                                            <div class="icon trans">
                                                                <i class=" flaticon-check-mark"></i></div>
                                                            <a class="links" href="team-detail.html#">
                                                                Цифровые решения </a>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                            <!---============spacing==========--->
                                            <div class="pd_bottom_20"></div>
                                            <!---============spacing==========--->
                                        </div>
                                    </div>
                                    <!---============spacing==========--->
                                    <div class="pd_bottom_10"></div>
                                    <!---============spacing==========--->
                                    <div class="theme_btn_all">
                                        <a href="team-detail.html#" class="theme_btn big rotate">
                                            Связаться с нами 
                                       </a></div>
                                    <!---============spacing==========--->
                                    <div class="pd_bottom_20"></div>
                                    <!---============spacing==========--->
                                </div>
                                <div class="col-lg-6 col-md-12">
                                    <div class="image">
                                        <img src="{% static 'assets/images/an-1-min.png'%}" class="img-fluid" alt="img" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!---============spacing==========--->
                        <div class="pd_bottom_90"></div>
                        <!---============spacing==========--->
                    </section>
                    <!---team-section-->
                    <!--form-->
                    <section class="form-section bg_light_1 position-relative">
                        <!---============spacing==========--->
                        <div class="pd_top_90"></div>
                        <!---============spacing==========--->
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-4 col-md-12">
                                    <div class="section_title type_one">
                                        <h4 class="sm_title"> Связаться</h4>
                                        <div class="title_whole">
                                            <h2 class="title"> Нужна помощь?
                                                </h2>
                                        </div>

                                    </div>
                                    <!---============spacing==========--->
                                    <div class="pd_bottom_40"></div>
                                    <!---============spacing==========--->
                                    <div class="social-icons">
                                        <ul>
                                            <li><a href="team-detail.html#" class="m_icon"> <i class="fab fa-facebook"></i>
                                                </a></li>
                                            <li><a href="team-detail.html#" class="m_icon"> <i class="fab fa-twitter"></i>
                                                </a></li>
                                            <li><a href="team-detail.html#" class="m_icon"> <i class="fab fa-skype"></i>
                                                </a></li>
                                            <li><a href="team-detail.html#" class="m_icon"> <i class="fab fa-instagram"></i>
                                                </a></li>
                                        </ul>
                                    </div>
                                    <!---============spacing==========--->
                                    <div class="pd_bottom_20"></div>
                                    <!---============spacing==========--->
                                </div>
                                <div class="col-lg-8 col-md-12">
                                    <section class="contact_form_box_all">
                                        <div class="contact_form_shortcode">
                                           
                                                <form method="post" action="team-detail.html#">
                                                    <div class="row">
                                                        <div class="col-lg-6 col-md-6 col-sm-12 mr_bottom_15">
                                                            <input type="text" name="full-name" placeholder="Полное Имя"
                                                                required="">
                                                        </div>
                                                        <div class="col-lg-6 col-md-6 col-sm-12 mr_bottom_15">
                                                            <input type="text" name="Phone" placeholder="Телефон">
                                                        </div>
                                                        <div class="col-sm-12 mr_bottom_15">
                                                            <input type="email" name="email" placeholder="Адресс электронной почты"  required="">
                                                        </div>
                                                        <div class="col-sm-12 mr_bottom_15">
                                                            <textarea name="message" placeholder="Сообщение" maxlength="3"></textarea>
                                                        </div>
                                                        <div class="col-sm-12">
                                                            <button type="submit">Отправить Сообщение</button>
                                                        </div>
                                                    </div>

                                                </form>
                                           
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </div>
                        <div class="ab_img_left_bottom z_0 mr_top_minus_150">
                            <img src="{% static 'assets/images/bg-1.png'%}" class="img-fluid" alt="img">
                        </div>
                        <!---============spacing==========--->
                        <div class="pd_bottom_90"></div>
                        <!---============spacing==========--->
                    </section>
                    <!--form-->
                </div>
                <!--content end-->
                <!--footer start-->
                {% include 'include/footer.html' %}
                <!--footer  end-->
                <!----==============content_all_warpper==============--->
                </div>
                <!----==============content_all_warpper end==============--->
                <!----==============mobile_menu_box ==============--->
                <div class="mobile_menu_box">
                    <div class="menu-backdrop"></div>
                    <nav class="menu-box scrollbarcolor">
                        <div class="close-btn"><i class="fi-rr-cross"></i></div>
                        <form role="search" method="get" action="index.html#">
                            <input type="search" class="search" placeholder="Поиск..." value="" name="s" title="Search" />
                            <button type="submit" class="sch_btn"> <i class="fa fa-search"></i></button>
                        </form>
                        <div class="menu-outer">
                            <div class="navigation_menu">
                                <ul class="navbar_nav getmobilemenu">
            
                                </ul>
                            </div>
                        </div>
                        <div class="mobile-header-info-wrap">
                            <div class="single-mobile-header-info">
                                <a href="tel:9806071234" class="cnt"><i class="fi-rs-headphones"></i>+996-777-777-777</a>
                            </div>
            
                            <div class="single-mobile-header-info cont_over">
                                <a href="mailto:sendmail@example.com" class="cnt"><i
                                        class="fi-rs-envelope"></i>mailbox.msbusiness@gmail.com</a>
                            </div>
                            <div class="single-mobile-header-info">
                                <a href="contact.html" class="theme_btn tp_one">Контакты</a>
                            </div>
                            <div class="single-mobile-header-info">
                                <a href="index.html#" class="theme_btn">Service</a>
                            </div>
                        </div>
            
                    </nav>
                </div>
                <!----==============mobile_menu_box end==============--->
                <!----==============search-popup==============--->
                <div class="search-popup">
                    <div class="close-search zoom-in-zoom-out"><i class="fa fa-times"></i></div>
                    <div class="popup-inner">
                        <div class="overlay-layer"></div>
                        <div class="search-form">
                            <fieldset>
                                <form role="search" method="get" action="#index.html">
                                    <input type="search" class="search" placeholder="Поиск..." value="" name="s" title="Search" />
                                    <button type="submit" class="sch_btn"> <i class="fi-rs-search"></i></button>
                                </form>
                            </fieldset>
                        </div>
                    </div>
                </div>
                <!----==============search-popup end==============--->
            
                <!-- Back to top with progress indicator-->
                <div class="prgoress_indicator">
                    <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
                        <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
                    </svg>
                </div>
            <!----==============option_panel end==============--->
            <!-- Back to top with progress indicator-->
            <div class="prgoress_indicator">
                <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
                    <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
                </svg>
            </div>
            <!----=============page_wapper end=============---->
        </div>
        <!----=============page_wapper end=============---->
        {% endblock %}