{% extends 'include/homepage.html' %}
{% load static %}
{% block content %}
 
    <body class="theme-vankine scrollbarcolor">
        <!----=============page_wapper=============---->
        <div id="page" class="page_wapper hfeed site">
            <!----=============page_wapper=============---->
            <!----=============Preloader=============---->
            <div class="loader-wrap">
                <div class="preloader">
                    <div class="preloader-close"><i class="fi-rr-cross"></i></div>
                </div>
                <div class="layer"> </div>
                <div class="animation-preloader">
                    <div class="spinner"></div>
                </div>
            </div>
            <!----=============Preloader end=============---->
            <!----=============Header=============---->
            {% include 'include/header.html' %}
            <!----==============sticky header end==============--->
            <!----==============content_all_warpper==============--->
            <div id="wrapper_full" class="content_all_warpper">
                <!----==============content_all_warpper==============--->
                <!----==============page header==============--->
                <section class="page_header_default pg_bg_cover alignment_center">
                    <div class="bakground_cover" style="background-image:url({% static 'assets/images/page-image-1-min.jpg' %})"></div>
                    <div class="page_header_content">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="banner_title_inner">
                                        <div class="title">
                                            <span class="main_tit">Консалтинговые Услуги</span> </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 vankine">
                                    <ul class="breadcrumb m-auto">
                                        <li><a href="index.html">Главная</a> </li>
                                        <li class="">Консалтинговые Услуги</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!----==============page header==============--->
                <!--content start-->
                <div id="content" class="site-content">
                     <!---service-->
                     <section class="service-section-one">
                        <!---============spacing==========--->
                        <div class="pd_top_90"></div>
                        <!---============spacing==========--->
                        <div class="container">
                            <div class="row align-items-end">
                                <div class="col-lg-6">
                                    <div class="section_title type_one">
                                        <div class="title_whole">
                                            <h2 class="title"> Широкий Спектр Консалтинговых Услуг </h2>
                                        </div>
                                    </div>
                                    <!---============spacing==========--->
                                    <div class="pd_bottom_20"></div>
                                    <!---============spacing==========--->
                                </div>
                                <div class="col-lg-6">
                                    <p class="mr_bottom_10">В MSBusiness мы предлагаем разнообразные консалтинговые услуги, спроектированные для того, чтобы удовлетворить все ваши потребности и бизнес-вопросы. Наш разносторонний спектр услуг помогает вам преодолевать вызовы и достигать успеха в разных аспектах вашего бизнеса.</p>
                                    <!---============spacing==========--->
                                    <div class="pd_bottom_20"></div>
                                    <!---============spacing==========--->
                                </div>
                            </div>
                            <!---============spacing==========--->
                            <div class="pd_bottom_20"></div>
                            <!---============spacing==========--->
                            <div class="service_post position-relative">
                                <div class="row">
                                    {% for range in range_all %}
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                                        <div class="service_box type_seven trans">
                                            <div class="icon trans">
                                                <svg width="110" height="130" viewBox="0 0 110 130" fill="none"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path
                                                        d="M0 124.009C0 127.128 2.82523 129.486 5.89443 128.928L105.894 110.746C108.272 110.314 110 108.244 110 105.827V5C110 2.23858 107.761 0 105 0H5C2.23858 0 0 2.23858 0 5V124.009Z"
                                                        fill="var(--color-set-one-1)"></path>
                                                </svg>
                                                {% if range.icon == 'Стратегическое Консультирование' %}
                                                <i class=" flaticon-travel-insurance trans"></i>
                                                {% endif %}
                                                {% if range.icon == 'Финансовый Консалтинг' %}
                                                <i class=" flaticon-health-insurance trans"></i>
                                                {% endif %}
                                                {% if range.icon == 'Маркетинговые Консультации' %}
                                                <i class=" flaticon-marriage trans"></i>
                                                {% endif %}
                                                {% if range.icon == 'Поддержка На Всех Этапах' %}
                                                <i class=" flaticon-insurance-2 trans"></i>
                                                {% endif %}
                                                {% if range.icon == 'Достижение Результатов' %}
                                                <i class=" flaticon-house trans"></i>
                                                {% endif %}
                                                {% if range.icon == 'Финансовое Планирование' %}
                                                <i class=" flaticon-insurance trans"></i>
                                                {% endif %}
                                            </div>
                                            <div class="content d-flex align-items-center bg_light_1">
                                                <img src="{{ range.image.url }}" class="img-fluid"
                                                    alt="service" />
                                                <div class="left">
                                                    <div class="title_26">
                                                        <a href="service-details.html">
                                                            {{ range.title }}
                                                        </a>
                                                    </div>
                                                    <p class="trans">
                                                        {{ range.text }}
                                                    </p>
                                                </div>
                                                
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
    
                            </div>
                        </div>

                        <!---============spacing==========--->
                        <div class="pd_bottom_60"></div>
                        <!---============spacing==========--->
                    </section>
                    <!---service end-->
                </div>
                <!--content end-->
                <!--footer start-->
                {% include 'include/footer.html' %}
                <!--footer  end-->
                <!----==============content_all_warpper==============--->
                </div>
                <!----==============content_all_warpper end==============--->
                <!----==============mobile_menu_box ==============--->
                <div class="mobile_menu_box">
                    <div class="menu-backdrop"></div>
                    <nav class="menu-box scrollbarcolor">
                        <div class="close-btn"><i class="fi-rr-cross"></i></div>
                        <form role="search" method="get" action="index.html#">
                            <input type="search" class="search" placeholder="Поиск..." value="" name="s" title="Search" />
                            <button type="submit" class="sch_btn"> <i class="fa fa-search"></i></button>
                        </form>
                        <div class="menu-outer">
                            <div class="navigation_menu">
                                <ul class="navbar_nav getmobilemenu">
            
                                </ul>
                            </div>
                        </div>
                        <div class="mobile-header-info-wrap">
                            <div class="single-mobile-header-info">
                                <a href="tel:9806071234" class="cnt"><i class="fi-rs-headphones"></i>+996-777-777-777</a>
                            </div>
            
                            <div class="single-mobile-header-info cont_over">
                                <a href="mailto:sendmail@example.com" class="cnt"><i
                                        class="fi-rs-envelope"></i>mailbox.msbusiness@gmail.com</a>
                            </div>
                            <div class="single-mobile-header-info">
                                <a href="contact.html" class="theme_btn tp_one">Контакты</a>
                            </div>
                            <div class="single-mobile-header-info">
                                <a href="index.html#" class="theme_btn">Service</a>
                            </div>
                        </div>
            
                    </nav>
                </div>
                <!----==============mobile_menu_box end==============--->
                <!----==============search-popup==============--->
                <div class="search-popup">
                    <div class="close-search zoom-in-zoom-out"><i class="fa fa-times"></i></div>
                    <div class="popup-inner">
                        <div class="overlay-layer"></div>
                        <div class="search-form">
                            <fieldset>
                                <form role="search" method="get" action="#index.html">
                                    <input type="search" class="search" placeholder="Поиск..." value="" name="s" title="Search" />
                                    <button type="submit" class="sch_btn"> <i class="fi-rs-search"></i></button>
                                </form>
                            </fieldset>
                        </div>
                    </div>
                </div>
                <!----==============search-popup end==============--->
            
                <!-- Back to top with progress indicator-->
                <div class="prgoress_indicator">
                    <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
                        <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
                    </svg>
                </div>
            <!----==============option_panel end==============--->
            <!-- Back to top with progress indicator-->
            <div class="prgoress_indicator">
                <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
                    <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
                </svg>
            </div>
            <!----=============page_wapper end=============---->
        </div>
        <!----=============page_wapper end=============---->

        <!----=================Script================---->
        {% endblock %}