{% extends 'include/homepage.html' %}
{% load static %}
{% block content %}

 
    <body class="theme-vankine scrollbarcolor">
        <!----=============page_wapper=============---->
        <div id="page" class="page_wapper hfeed site">
            <!----=============page_wapper=============---->
            <!----=============Preloader=============---->
            <div class="loader-wrap">
                <div class="preloader">
                    <div class="preloader-close"><i class="fi-rr-cross"></i></div>
                </div>
                <div class="layer"> </div>
                <div class="animation-preloader">
                    <div class="spinner"></div>
                </div>
            </div>
            <!----=============Preloader end=============---->
            <!----=============Header=============---->
            {% include 'include/header.html' %}
            <!----==============sticky header end==============--->
            <!----==============content_all_warpper==============--->
            <div id="wrapper_full" class="content_all_warpper">
                <!----==============content_all_warpper==============--->
                <!----==============page header==============--->
                <section class="page_header_default pg_bg_cover alignment_center">
                    <div class="bakground_cover" style="background-image:url({% static 'assets/images/page-image-1-min.jpg' %})"></div>
                    <div class="page_header_content">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="banner_title_inner">
                                        <div class="title">
                                            <span class="main_tit">Широкая География</span> </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 vankine">
                                    <ul class="breadcrumb m-auto">
                                        <li><a href="index.html">Главная</a> </li>
                                        <li class="">Широкая География</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!----==============page header==============--->
                <!--content start-->
                <div id="content" class="site-content">
                    <!---service-->
                    <section class="service-section-one">
                        <!---============spacing==========--->
                        <div class="pd_top_90"></div>
                        <!---============spacing==========--->
                        <div class="container">
                            <div class="row align-items-end">
                                <div class="col-lg-6">
                                    <div class="section_title type_one">
                                        <div class="title_whole">
                                            <h2 class="title"> Широкая География: Преодоление Границ для Вашего Успеха</h2>
                                        </div>
                                    </div>
                                    <!---============spacing==========--->
                                    <div class="pd_bottom_20"></div>
                                    <!---============spacing==========--->
                                </div>
                                <div class="col-lg-6">
                                    <p class="mr_bottom_10">В MSBusiness мы гордимся нашей способностью преодолевать географические границы и обеспечивать качественное сопровождение бизнеса по всему миру. Наша широкая география - это не просто место, где мы работаем, это наша зона влияния и наша глобальная аудитория.</p>
                                    <!---============spacing==========--->
                                    <div class="pd_bottom_20"></div>
                                    <!---============spacing==========--->
                                </div>
                            </div>
                            <!---============spacing==========--->
                            <div class="pd_bottom_20"></div>
                            <!---============spacing==========--->
                            <section class="service_post position-relative">
                                <div class="row">
                                    {% for business in business_all %}
                                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                                        <div class="service_box type_four hover_1_get hover_1 color_three">
                                            <div class="oh ho_1"></div>
                                            <div class="oh ho_2"></div>
                                            <div class="oh ho_3"></div>
                                            <div class="oh ho_4"></div>
                                            <div class="content_box trans">
                                                <div class="top">
                                                    <div class="icon trans">
                                                        {% if business.icon == 'Локальная Экспертиза, Мировой Опыт' %}
                                                        <i class=" flaticon-salary trans"></i>
                                                        {% endif %}
                                                        {% if business.icon == 'Преимущество Многокультурного Окружения' %}
                                                        <i class=" flaticon-insurance-2 trans"></i>
                                                        {% endif %}
                                                        {% if business.icon == 'Сотрудничество Через Расстояние' %}
                                                        <i class=" flaticon-business-trip trans"></i>
                                                        {% endif %}
                                                        {% if business.icon == 'Мировые Достижения' %}
                                                        <i class=" flaticon-management trans"></i>
                                                        {% endif %}
                                                        {% if business.icon == 'Местное присутствие' %}
                                                        <i class=" flaticon-travel-insurance trans"></i>
                                                        {% endif %}
                                                        {% if business.icon == 'Многогранное понимание культур ' %}
                                                        <i class=" flaticon-house trans"></i>
                                                        {% endif %}
                                                    </div>
                                                    <div class="steps trans">{{ business.id }}</div>
                                                    <h4 class="title_24 trans" >
                                                        {{ business.title }} </h4>
                                                    </div>
                                                <div class="line_box">
                                                    <div class="line"></div>
                                                </div>
                                                <div class="bottom">
                                                    <p class="trans">
                                                        {{ business.text }} </p>
                                                   
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </section>
                        </div>

                        <!---============spacing==========--->
                        <div class="pd_bottom_60"></div>
                        <!---============spacing==========--->
                    </section>
                    <!---service end-->
                </div>
                <!--content end-->
                <!--footer start-->
                {% include 'include/footer.html' %}
                <!--footer  end-->
                <!----==============content_all_warpper==============--->
                </div>
                <!----==============content_all_warpper end==============--->
                <!----==============mobile_menu_box ==============--->
                <div class="mobile_menu_box">
                    <div class="menu-backdrop"></div>
                    <nav class="menu-box scrollbarcolor">
                        <div class="close-btn"><i class="fi-rr-cross"></i></div>
                        <form role="search" method="get" action="index.html#">
                            <input type="search" class="search" placeholder="Поиск..." value="" name="s" title="Search" />
                            <button type="submit" class="sch_btn"> <i class="fa fa-search"></i></button>
                        </form>
                        <div class="menu-outer">
                            <div class="navigation_menu">
                                <ul class="navbar_nav getmobilemenu">
            
                                </ul>
                            </div>
                        </div>
                        <div class="mobile-header-info-wrap">
                            <div class="single-mobile-header-info">
                                <a href="tel:9806071234" class="cnt"><i class="fi-rs-headphones"></i>+996-777-777-777</a>
                            </div>
            
                            <div class="single-mobile-header-info cont_over">
                                <a href="mailto:sendmail@example.com" class="cnt"><i
                                        class="fi-rs-envelope"></i>mailbox.msbusiness@gmail.com</a>
                            </div>
                            <div class="single-mobile-header-info">
                                <a href="contact.html" class="theme_btn tp_one">Контакты</a>
                            </div>
                            <div class="single-mobile-header-info">
                                <a href="index.html#" class="theme_btn">Service</a>
                            </div>
                        </div>
            
                    </nav>
                </div>
                <!----==============mobile_menu_box end==============--->
                <!----==============search-popup==============--->
                <div class="search-popup">
                    <div class="close-search zoom-in-zoom-out"><i class="fa fa-times"></i></div>
                    <div class="popup-inner">
                        <div class="overlay-layer"></div>
                        <div class="search-form">
                            <fieldset>
                                <form role="search" method="get" action="#index.html">
                                    <input type="search" class="search" placeholder="Поиск..." value="" name="s" title="Search" />
                                    <button type="submit" class="sch_btn"> <i class="fi-rs-search"></i></button>
                                </form>
                            </fieldset>
                        </div>
                    </div>
                </div>
                <!----==============search-popup end==============--->
            
                <!-- Back to top with progress indicator-->
                <div class="prgoress_indicator">
                    <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
                        <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
                    </svg>
                </div>
            <!----==============option_panel end==============--->
            <!-- Back to top with progress indicator-->
            <div class="prgoress_indicator">
                <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
                    <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
                </svg>
            </div>
            <!----=============page_wapper end=============---->
        </div>
        <!----=============page_wapper end=============---->

        <!----=================Script================---->
        {% endblock %}
