{% extends 'include/homepage.html' %}
{% load static %}
{% block content %}

<body class="theme-vankine scrollbarcolor">
  <!----=============page_wapper=============---->
  <div id="page" class="page_wapper hfeed site">
    <!----=============page_wapper=============---->
    <!----=============Preloader=============---->
    <div class="loader-wrap">
      <div class="preloader">
        <div class="preloader-close">
          <i class="fi-rr-cross"></i>
        </div>
      </div>
      <div class="layer"></div>
      <div class="animation-preloader">
        <div class="spinner"></div>
      </div>
    </div>
    <!----=============Preloader end=============---->
    <!----=============Header=============---->
    {% include 'include/header.html' %}

    <!----==============sticky header end==============--->
    <!----==============content_all_warpper==============--->
    <div id="wrapper_full" class="content_all_warpper">
      <!----==============content_all_warpper==============--->
      <!----==============page header==============--->
      <section class="page_header_default pg_bg_cover alignment_center">
        <div class="bakground_cover" style="background-image:url({% static 'assets/images/MS/service_bg_img.jpeg' %})">
        </div>
        <div class="page_header_content">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="banner_title_inner">
                  <div class="title">
                    <span class="main_tit">{{service.title}}</span>
                  </div>
                </div>
              </div>
              <div class="col-lg-12 vankine">
                <ul class="breadcrumb m-auto">
                  <li>
                    <a href="{% url 'index' %}">Главная</a>
                  </li>
                  <li class="active">Подробнее об услуге</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!----==============page header==============--->
      <!--content start-->
      <div id="content" class="site-content">
        <!--content-->
        <section class="content-section">
          <!---============spacing==========--->
          <div class="pd_top_90"></div>
          <!---============spacing==========--->
          <div class="container">
            <div class="row align-items-center">
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="image_box">
                  <img src="{{service.image.url}}" class="img-fluid" alt="img" />
                </div>
                <!---============spacing==========--->
                <div class="pd_bottom_20"></div>
                <!---============spacing==========--->
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pd_left_30">
                <!---============spacing==========--->
                <div class="pd_top_30"></div>
                <!---============spacing==========--->
                <div class="section_title type_one">
                  <h4 class="sm_title"> Услуга</h4>
                  <div class="title_whole">
                    <h2 class="title"> {{service.title}}</h2>
                  </div>
                  <p>{{ service.description }}
                    

                  </p>
                  <!---============spacing==========--->
                  <div class="pd_bottom_30"></div>
                  <!---============spacing==========--->
                </div>
                <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="position-relative">
                      <ul class="list_box weight_500 list">
                        <li>
                          <div class="d-flex align-items-center">
                            <div class="icon trans">
                              <i class=" fi-rs-shield-check"></i>
                            </div>
                            <a class="links" href="service-details.html#"> Коммуникация </a>
                          </div>
                        </li>
                        <li>
                          <div class="d-flex align-items-center">
                            <div class="icon trans">
                              <i class=" fi-rs-shield-check"></i>
                            </div>
                            <a class="links" href="service-details.html#"> Профессионализм </a>
                          </div>
                        </li>
                        <li>
                          <div class="d-flex align-items-center">
                            <div class="icon trans">
                              <i class=" fi-rs-shield-check"></i>
                            </div>
                            <a class="links" href="service-details.html#"> Творческий подход</a>
                          </div>
                        </li>
                      </ul>
                      <!---============spacing==========--->
                      <div class="pd_bottom_20"></div>
                      <!---============spacing==========--->
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="position-relative">
                      <ul class="list_box weight_500 list">
                        <li>
                          <div class="d-flex align-items-center">
                            <div class="icon trans">
                              <i class=" fi-rs-shield-check"></i>
                            </div>
                            <a class="links" href="service-details.html#"> Гибкость</a>
                          </div>
                        </li>
                        <li>
                          <div class="d-flex align-items-center">
                            <div class="icon trans">
                              <i class=" fi-rs-shield-check"></i>
                            </div>
                            <a class="links" href="service-details.html#"> Опыт в различных отраслях </a>
                          </div>
                        </li>
                        <li>
                          <div class="d-flex align-items-center">
                            <div class="icon trans">
                              <i class=" fi-rs-shield-check"></i>
                            </div>
                            <a class="links" href="service-details.html#"> Коллективный дух </a>
                          </div>
                        </li>
                      </ul>
                      </a>
                      <!---============spacing==========--->
                      <div class="pd_bottom_20"></div>
                      <!---============spacing==========--->
                    </div>
                  </div>
                </div>
                <!---============spacing==========--->
                <div class="pd_bottom_20"></div>
                <!---============spacing==========--->
              </div>
            </div>
          </div>
          <!---============spacing==========--->
          <div class="pd_bottom_100"></div>
          <!---============spacing==========--->
        </section>
        <!--content-->
        <!--content-->
        <section class="content-section">
          <div class="container">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pd_right_70">
                <div class="section_title type_one">
                  <div class="title_whole">
                    <h2 class="title"> Широкая География</h2>
                  </div>
                </div>
                <!---============spacing==========--->
                <div class="pd_bottom_40"></div>
                <!---============spacing==========--->
                <div class="icon_box_only type_five color_two d-flex  trans">
                  <div class="icon">
                    <i class=" fi-rr-comment-check"></i>
                  </div>
                  <div class="content">
                    <div class="title_22">
                      <a href="service-style-4.html"> Локальная Экспертиза, Мировой Опыт </a>
                    </div>
                  </div>
                </div>
                <!---============spacing==========--->
                <div class="pd_top_15"></div>
                <!---============spacing==========--->
                <div class="divider"></div>
                <!---============spacing==========--->
                <div class="pd_bottom_25"></div>
                <!---============spacing==========--->
                <div class="icon_box_only type_five color_two d-flex  trans">
                  <div class="icon">
                    <i class=" fi-rr-comment-check"></i>
                  </div>
                  <div class="content">
                    <div class="title_22">
                      <a href="service-style-4.html"> Мировые Достижения </a>
                    </div>
                  </div>
                </div>
                <!---============spacing==========--->
                <div class="pd_top_15"></div>
                <!---============spacing==========--->
                <div class="divider"></div>
                <!---============spacing==========--->
                <div class="pd_bottom_25"></div>
                <!---============spacing==========--->
                <div class="icon_box_only type_five color_two d-flex  trans">
                  <div class="icon">
                    <i class=" fi-rr-comment-check"></i>
                  </div>
                  <div class="content">
                    <div class="title_22">
                      <a href="service-style-4.html"> Сотрудничество Через Расстояние</a>
                    </div>
                  </div>
                </div>
                 <!---============spacing==========--->
                 <div class="pd_top_15"></div>
                 <!---============spacing==========--->
                 <div class="divider"></div>
                 <!---============spacing==========--->
                 <div class="pd_bottom_25"></div>
                 <!---============spacing==========--->
                 <div class="icon_box_only type_five color_two d-flex  trans">
                   <div class="icon">
                     <i class=" fi-rr-comment-check"></i>
                   </div>
                   <div class="content">
                     <div class="title_22">
                       <a href="service-style-4.html"> Преимущество Многокультурного Окружения</a>
                     </div>
                   </div>
                 </div>
                 <div class="pd_top_15"></div>
                 <!---============spacing==========--->
                 <div class="divider"></div>
                 <!---============spacing==========--->
                 <div class="pd_bottom_25"></div>
                 <!---============spacing==========--->

                 <div class="icon_box_only type_five color_two d-flex  trans">
                  <div class="icon">
                    <i class=" fi-rr-comment-check"></i>
                  </div>
                  <div class="content">
                    <div class="title_22">
                      <a href="service-style-4.html"> Местное присутствие</a>
                    </div>
                  </div>
                </div>
                
               <!---============spacing==========--->
               <div class="pd_top_15"></div>
               <!---============spacing==========--->
               <div class="divider"></div>
               <!---============spacing==========--->
               <div class="pd_bottom_45"></div>
               <!---============spacing==========--->
             </div>
             <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
               <div class="image_box mr_bottom_minus_200  position-relative z_2">
                 <img src="{% static 'assets/images/service/ser-v1-2-min.png'%}" class="img-fluid" alt="img" />
               </div>
               <!---============spacing==========--->
               <div class="pd_bottom_20"></div>
               <!---============spacing==========--->
             </div>
           </div>
         </div>
         <!---============spacing==========--->
         <div class="pd_bottom_50"></div>
         <!---============spacing==========--->
       </section>
       <!--content-->
       <!---service-->
       <section class="service-section position-relative bg_op_1 overflow-hidden" style="background-image: url({% static 'assets/images/ser-bg-bg-min.jpg);">
         <!---============spacing==========--->
         <div class="pd_top_140"></div>
         <!---============spacing==========--->
         <div class="container">
           <div class="row">
             <div class="col-lg-12">
               <div class="section_title text-center  type_one">
                 <div class="title_whole">
                   <h2 class="title"> Широкий Спектр Консалтинговых Услуг</h2>
                 </div>
               </div>
             </div>
           </div>
           <!---============spacing==========--->
           <div class="pd_bottom_40"></div>
           <!---============spacing==========--->
           <div class="row">
             <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
               <div class="icon_box_only type_one color_two">
                 <div class="icon_box_in trans">
                   <div class="shape_image">
                     <svg width="116" height="121" viewBox="0 0 116 121" fill="none" xmlns="http://www.w3.org/2000/svg">
                       <path d="M19.8056 39.6223L0.500244 0H17.5002L36.1734 36.0124L19.8056 39.6223Z" fill="var(--color-set-one-1)"></path>
                       <path class="two" d="M36.8216 44.7789L19.8086 39.6339L41.3565 29.0508L58.4829 34.1875L36.8216 44.7789Z" fill="var(--color-set-one-2)"></path>
                       <path class="two" d="M75.3704 66.1668L58.0938 61.0318L80.9934 52.772L98.1198 57.9087L75.3704 66.1668Z" fill="var(--color-set-one-2)"></path>
                       <path d="M41.3564 29.0508L58.0936 61.0319L71.4346 56.223L60.3526 34.7522L41.3564 29.0508Z" fill="var(--color-set-one-1)"></path>
                       <path d="M80.9629 52.792L116 121V91.5L99.9591 58.4917" fill="var(--color-set-one-1)"></path>
                     </svg>
                   </div>
                   <div class="after"></div>
                   <div class="icon">
                     <i class=" flaticon-health-insurance"></i>
                   </div>
                   <div class="title_22">

                    <a href="service-style-6.html"> Стратегическое Консультирование </a>
                  </div>
                  <a class="rd_more" href="service-style-6.html"> Читать Далее <i class="icontb fi-rs-arrow-small-right"></i>
                  </a>
                </div>
              </div>
              <!---============spacing==========--->
              <div class="pd_bottom_20"></div>
              <!---============spacing==========--->
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
              <div class="icon_box_only type_one color_two">
                <div class="icon_box_in trans">
                  <div class="shape_image">
                    <svg width="116" height="121" viewBox="0 0 116 121" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M19.8056 39.6223L0.500244 0H17.5002L36.1734 36.0124L19.8056 39.6223Z" fill="var(--color-set-one-1)"></path>
                      <path class="two" d="M36.8216 44.7789L19.8086 39.6339L41.3565 29.0508L58.4829 34.1875L36.8216 44.7789Z" fill="var(--color-set-one-2)"></path>
                      <path class="two" d="M75.3704 66.1668L58.0938 61.0318L80.9934 52.772L98.1198 57.9087L75.3704 66.1668Z" fill="var(--color-set-one-2)"></path>
                      <path d="M41.3564 29.0508L58.0936 61.0319L71.4346 56.223L60.3526 34.7522L41.3564 29.0508Z" fill="var(--color-set-one-1)"></path>
                      <path d="M80.9629 52.792L116 121V91.5L99.9591 58.4917" fill="var(--color-set-one-1)"></path>
                    </svg>
                  </div>
                  <div class="after"></div>
                  <div class="icon">
                    <i class=" flaticon-growth"></i>
                  </div>
                  <div class="title_22">
                    <a href="service-style-6.html"> Финансовое Планирование </a>
                  </div>
                  <a class="rd_more" href="service-style-6.html"> Читать Далее<i class="icontb fi-rs-arrow-small-right"></i>
                  </a>
                </div>
              </div>
              <!---============spacing==========--->
              <div class="pd_bottom_20"></div>
              <!---============spacing==========--->
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
              <div class="icon_box_only type_one color_two">
                <div class="icon_box_in trans">
                  <div class="shape_image">
                    <svg width="116" height="121" viewBox="0 0 116 121" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M19.8056 39.6223L0.500244 0H17.5002L36.1734 36.0124L19.8056 39.6223Z" fill="var(--color-set-one-1)"></path>
                      <path class="two" d="M36.8216 44.7789L19.8086 39.6339L41.3565 29.0508L58.4829 34.1875L36.8216 44.7789Z" fill="var(--color-set-one-2)"></path>
                      <path class="two" d="M75.3704 66.1668L58.0938 61.0318L80.9934 52.772L98.1198 57.9087L75.3704 66.1668Z" fill="var(--color-set-one-2)"></path>
                      <path d="M41.3564 29.0508L58.0936 61.0319L71.4346 56.223L60.3526 34.7522L41.3564 29.0508Z" fill="var(--color-set-one-1)"></path>
                      <path d="M80.9629 52.792L116 121V91.5L99.9591 58.4917" fill="var(--color-set-one-1)"></path>
                    </svg>
                  </div>
                  <div class="after"></div>
                  <div class="icon">
                    <i class=" flaticon-online-analytical"></i>
                  </div>
                  <div class="title_22">
                    <a href="service-style-6.html"> Достижение Результатов </a>
                  </div>

                  <a class="rd_more" href="service-style-6.html"> Читать Далее<i class="icontb fi-rs-arrow-small-right"></i>
                  </a>
                </div>
              </div>
              <!---============spacing==========--->
              <div class="pd_bottom_20"></div>
              <!---============spacing==========--->
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
              <div class="icon_box_only type_one color_two">
                <div class="icon_box_in trans">
                  <div class="shape_image">
                    <svg width="116" height="121" viewBox="0 0 116 121" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M19.8056 39.6223L0.500244 0H17.5002L36.1734 36.0124L19.8056 39.6223Z" fill="var(--color-set-one-1)"></path>
                      <path class="two" d="M36.8216 44.7789L19.8086 39.6339L41.3565 29.0508L58.4829 34.1875L36.8216 44.7789Z" fill="var(--color-set-one-2)"></path>
                      <path class="two" d="M75.3704 66.1668L58.0938 61.0318L80.9934 52.772L98.1198 57.9087L75.3704 66.1668Z" fill="var(--color-set-one-2)"></path>
                      <path d="M41.3564 29.0508L58.0936 61.0319L71.4346 56.223L60.3526 34.7522L41.3564 29.0508Z" fill="var(--color-set-one-1)"></path>
                      <path d="M80.9629 52.792L116 121V91.5L99.9591 58.4917" fill="var(--color-set-one-1)"></path>
                    </svg>
                  </div>
                  <div class="after"></div>
                  <div class="icon">
                    <i class=" flaticon-health-insurance-1"></i>
                  </div>
                  <div class="title_22">
                    <a href="service-style-6.html"> Поддержка На Всех Этапах </a>
                  </div>
                  <a class="rd_more" href="service-style-6.html"> Читать Далее <i class="icontb fi-rs-arrow-small-right"></i>
                  </a>
                </div>
              </div>
              <!---============spacing==========--->
              <div class="pd_bottom_20"></div>
              <!---============spacing==========--->
            </div>
          </div>
        </div>
        <!---============spacing==========--->
        <div class="pd_bottom_50"></div>
        <!---============spacing==========--->
      </section>
      <!---service end-->
      <!---faqs-->
      <section class="faq-section">
        <!---============spacing==========--->
        <div class="pd_top_80"></div>
        <!---============spacing==========--->
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-6 col-md-6 col-sm-12">
              <div class="image_box">
                <img src="{% static 'assets/images/service/ser-v1-3-min.png'%}" alt="img" class="img-fluid">
              </div>
              <!---============spacing==========--->
              <div class="pd_bottom_40"></div>
              <!---============spacing==========--->
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 pd_left_30">
              <div class="section_title type_one">
                <div class="title_whole">
                  <h2 class="title"> Сопровождение Бизнеса</h2>
                </div>
                <!---============spacing==========--->
                <div class="pd_bottom_20"></div>
                <!---============spacing==========--->
              </div>

              <div class="position-relative br_left_3px_theme_color pd_left_10"> Мы видим себя как ваших надежных партнеров на пути к успеху. Наше сопровождение бизнеса не ограничивается одноразовыми проектами, мы готовы работать с вами на долгосрочной основе, помогая вам достигать ваших целей.</div>
              <!---============spacing==========--->
              <div class="pd_bottom_30"></div>
              <!---============spacing==========--->
              <div class="block_faq">
                <div class="accordion-box">
                  <div class="accordion">
                    <div class="question  faq_header">
                      <div class="question_box ">
                        <div class="title_no_a_18 trans">Индивидуальный Подход </div>
                        <span class="icon_fq trans fi-rs-arrow-small-right"></span>
                      </div>
                    </div>
                    <div class="answer accordion-content">Мы понимаем, что каждый бизнес уникален. Наши услуги сопровождения бизнеса разрабатываются с учетом ваших уникальных потребностей и целей. Мы создаем стратегии и планы, адаптированные под вас.</div>
                  </div>
                  <div class="accordion  active-block">
                    <div class="question faq_header active">
                      <div class="question_box">
                        <div class="title_no_a_18 trans">Поддержка клиентов и обратная связь</div>
                        <span class="icon_fq trans fi-rs-arrow-small-right"></span>
                      </div>
                    </div>
                    <div class="answer accordion-content current"> Мы всегда готовы отвечать на ваши вопросы, предоставлять поддержку и слушать вашу обратную связь. Мы ценим взаимодействие с нашими клиентами. </div>
                  </div>
                  <div class="accordion">
                    <div class="question  faq_header ">
                      <div class="question_box ">
                        <div class="title_no_a_18 trans"> Сфокусированные результаты</div>
                        <span class="icon_fq trans fi-rs-arrow-small-right"></span>
                      </div>
                    </div>
                    <div class="answer accordion-content"> Наши услуги сопровождения бизнеса нацелены на достижение конкретных результатов. Мы работаем с вами, чтобы гарантировать, что ваши цели становятся реальностью. </div>
                  </div>
                </div>
              </div>
              <!---============spacing==========--->
              <div class="pd_bottom_40"></div>
              <!---============spacing==========--->
            </div>
          </div>
        </div>
        <!---============spacing==========--->
        <div class="pd_bottom_40"></div>
        <!---============spacing==========--->
      </section>

        <!---faqs end-->
        <!--form-->

        <!--form-->
      </div>
      <!--content end-->
      <!--footer start-->
      {% include 'include/footer.html' %}
      <!--footer  end-->
      <!----==============content_all_warpper==============--->
    </div>
    <!----==============content_all_warpper end==============--->
    <!----==============mobile_menu_box ==============--->
    <div class="mobile_menu_box">
      <div class="menu-backdrop"></div>
      <nav class="menu-box scrollbarcolor">
        <div class="close-btn"><i class="fi-rr-cross"></i></div>
        <form role="search" method="get" action="index.html#">
          <input type="search" class="search" placeholder="Поиск..." value="" name="s" title="Search" />
          <button type="submit" class="sch_btn"> <i class="fa fa-search"></i></button>
        </form>
        <div class="menu-outer">
          <div class="navigation_menu">
            <ul class="navbar_nav getmobilemenu">

            </ul>
          </div>
        </div>
        <div class="mobile-header-info-wrap">
          <div class="single-mobile-header-info">
            <a href="tel:9806071234" class="cnt"><i class="fi-rs-headphones"></i>+996-777-777-777</a>
          </div>

          <div class="single-mobile-header-info cont_over">
            <a href="mailto:sendmail@example.com" class="cnt"><i
                class="fi-rs-envelope"></i>mailbox.msbusiness@gmail.com</a>
          </div>
          <div class="single-mobile-header-info">
            <a href="index.html#" class="theme_btn tp_one">Contact</a>
          </div>
          <div class="single-mobile-header-info">
            <a href="index.html#" class="theme_btn">Service</a>
          </div>
        </div>

      </nav>
    </div>
    <!----==============mobile_menu_box end==============--->
    <!----==============search-popup==============--->
    <div class="search-popup">
      <div class="close-search zoom-in-zoom-out"><i class="fa fa-times"></i></div>
      <div class="popup-inner">
        <div class="overlay-layer"></div>
        <div class="search-form">
          <fieldset>
            <form role="search" method="get" action="#index.html">
              <input type="search" class="search" placeholder="Поиск..." value="" name="s" title="Search" />
              <button type="submit" class="sch_btn"> <i class="fi-rs-search"></i></button>
            </form>
          </fieldset>
        </div>
      </div>
    </div>
    <!----==============search-popup end==============--->
    <!----==============option_panel==============--->
    <div class="option_panel-popup">
      <div class="sdmenu_overlay"></div>
      <div class="option_boxed scrollbarcolor">
        <div class="close-option-pan">
          <i class="fi-rr-cross"></i>
        </div>
        <div class="option_content scrollbarcolor ">
          <div class="log_bx">
            <a href="service-details.html#" class="logo navbar-brand">
              <img src="{% static 'assets/images/theme-logo.png'%}'%}" alt="Vankine" class="logo_default">
            </a>
            <div class="about_company"> Denounce with righteous indignation and dislike men who are beguiled and
              demoralized by the charms pleasure moment so blinded desire that they cannot foresee the pain and trouble.
            </div>
          </div>
          <div class="contnet_box">
            <div class="post_contet_modal">
              <h2 class="title_no_a_28"> Latest Portfolio</h2>
              <div class="post_enable">
                <div class="theme_carousel owl-theme owl-carousel"
                  data-options='{"loop": true, "margin": 10,  "autoheight":true, "lazyload":true, "nav": false, "dots": false, "autoplay": false, "autoplayTimeout": 6000, "smartSpeed": 300, "responsive":{ "0" :{ "items": "1" }, "340" :{ "items" : "1" } , "550" :{ "items" : "2" } , "768" :{ "items" : "2" } , "992":{ "items" : "2" }, "1200":{ "items" : "2" }}}'>
                  <div class="modal_post_grid">
                    <a href="blog-details.html">
                      <img src="{% static 'assets/images/blog/blog-9-min.png'%}'%}" class="main_img  img-fluid" alt="img" />
                      <h2 class="tit_ho title_no_a_20">
                        Former insures only the marine perils
                      </h2>
                    </a>
                  </div>
                  <div class="modal_post_grid">
                    <a href="blog-details.html">
                      <img src="{% static 'assets/images/blog/blog-8-min.png'%}'%}" class="main_img  img-fluid" alt="img" />
                      <h2 class="tit_ho title_no_a_20">
                        Insurance covers risk of fire absence
                      </h2>
                    </a>
                  </div>
                  <div class="modal_post_grid">
                    <a href="blog-details.html">
                      <img src="{% static 'assets/images/blog/blog-7-min.png'%}'%}" class="main_img  img-fluid" alt="img" />
                      <h2 class="tit_ho title_no_a_20">Erving the interests of our clients
                      </h2>
                    </a>
                  </div>
                  <div class="modal_post_grid">
                    <a href="blog-details.html">
                      <img src="{% static 'assets/images/blog/blog-6.png'%}'%}" class="main_img  img-fluid" alt="img" />
                      <h2 class="tit_ho title_no_a_20">
                        Guide To Audio Visual With JavaScript GSA
                      </h2>
                    </a>
                  </div>
                  <div class="modal_post_grid">
                    <a href="blog-details.html">
                      <img src="{% static 'assets/images/blog/blog-5.png'%}'%}" class="main_img  img-fluid" alt="img" />
                      <h2 class="tit_ho title_no_a_20">
                        Building Web Layouts For Dual Foldable
                        Devices
                      </h2>
                    </a>
                  </div>

                </div>
              </div>
            </div>
            <h2 class="title_no_a_28"> Need Any Help? Or Looking For an Agent</h2>
            <div class="contact_panel">
              <div class="c_pan">
                <a href="tel:9806071234">
                  <i class="fi-rr-phone-call"></i> 9806071234 </a>
              </div>
              <div class="c_pan">
                <a href="mailto:sendmail@example.com">
                  <i class="fi-rr-envelope"></i> sendmail@example.com </a>
              </div>
              <div class="c_pan">
                <a class="wk_hours">
                  <i class="fi-rr-time-check"></i> Working Hours : <span> Sun-monday, 09am-5pm </span>
                </a>
              </div>
            </div>
            <div class="c_pan"> © 2022 Vankine. All Rights Reserved. </div>
          </div>
        </div>
      </div>
    </div>
    <!----==============option_panel end==============--->
    <!-- Back to top with progress indicator-->
    <div class="prgoress_indicator">
      <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
        <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
      </svg>
    </div>
    <!----=============page_wapper end=============---->
  </div>
  <!----=============page_wapper end=============---->
  <!----=================Script================---->
  {% endblock %}