{% extends "include/homepage.html" %}
{% load static %}
{% block content %}


<body class="theme-vankine scrollbarcolor">
        <!----=============page_wapper=============---->
        <div id="page" class="page_wapper hfeed site">
            <!----=============page_wapper=============---->
            <!----=============Preloader=============---->
            <div class="loader-wrap">
                <div class="preloader">
                    <div class="preloader-close"><i class="fi-rr-cross"></i></div>
                </div>
                <div class="layer"> </div>
                <div class="animation-preloader">
                    <div class="spinner"></div>
                </div>
            </div>
            <!----=============Preloader end=============---->
            <!----=============Header=============---->
            {% include "include/header.html" %}
            <!----==============sticky header end==============--->
            <!----==============content_all_warpper==============--->
            <div id="wrapper_full" class="content_all_warpper">
                <!----==============content_all_warpper==============--->
                <!----==============page header==============--->
                <section class="page_header_default pg_bg_cover alignment_center">
                    <div class="bakground_cover" style="background-image:url({{ about.image.url }})"></div>
                    <div class="page_header_content">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="banner_title_inner">
                                        <div class="title">
                                            <span class="main_tit">{{ about.title }}</span> </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 vankine">
                                    <ul class="breadcrumb m-auto">
                                        <li><a href="about-us">{{ about.context }}</a> </li>
                                        <li class="active">{{ about.end_main }}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!----==============page header==============--->
                <!--content start-->
                <div id="content" class="site-content">

                    <!---about-->
                    <section class="about-section position-relative">
                        <!---============spacing==========--->
                        <div class="pd_top_90"></div>
                        <!---============spacing==========--->

                        <div class="auto-container">
                            <div class="row align-items-start">
                                <div class="col-lg-6 col-md-12">
                                    <div class="image_box_only type_seven">
                                       
                                       

                                        <div class="fun_facts type_two">
                                            <h4>
                                                <span class="count">{{ comp.blog_title }}</span>
                                                <small>
                                                    + </small></h4>
                                            <h6 class="title_no_a_26">{{ comp.blog_context }}</h6>
                                        </div>
                                        <div class="m_image">
                                            <img src="{{ comp.image.url }}" alt="img" class="img-fluid">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 pd_left_30">
                                    <div class="section_title type_one">
                                        <div class="title_whole">
                                            <h2 class="title">{{ comp.title }}</h2>
                                        </div>
                                    </div>
                                    <!---============spacing==========--->
                                    <div class="mr_bottom_20"></div>
                                    <!---============spacing==========--->
                                    <div class="fom_tab_box custom_tabs only_tab_content">
                                        <div class="s_tabs_content tab-content">
                                            <div class="tab-pane  active" id="aboutuss" role="tabpanel"
                                                aria-labelledby="aboutuss-tabtab">
                                                <div class="tab_content_box">
                                                    <div class="content">
                                                       <p>{{ comp.text1 }}</p>
                                                        <br>
                                                        <br>
                                                        <p>{{ comp.text2 }}</p>
                                                    </div>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!---============spacing==========--->

                                    <!---============spacing==========--->
                                    
                                    <!---============spacing==========--->
                                    <div class="pd_bottom_70"></div>
                                    <!---============spacing==========--->
                                </div>
                            </div>
                        </div>
                        <div class="ab_img_right_bottom z_minus_1">
                            <img src="{% static 'assets/images/bg-2.png' %}" class="img-fluid" alt="img" />
                        </div>
                    </section>
                    <!---about end-->
                    <!--service-->
                  
                    <div class="pd_bottom_180"></div>
                    <!--service-->
                    <!--content-->
                    <section class="content-section">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="section_title type_one">
                                        <h4 class="sm_title">{{ develop.title }}</h4>
                                        <div class="title_whole">
                                            <h2 class="title">{{ develop.context }}</h2>
                                        </div>
                                        <p>{{ develop.text }}</p>
                                    </div>
                                    <!---============spacing==========--->
                                    <div class="pd_bottom_40"></div>
                                    <!---============spacing==========--->
                                    
                                    <!---============spacing==========--->
                                    <div class="pd_bottom_40"></div>
                                    <!---============spacing==========--->
                                </div>
                                <div class="col-lg-6">
                                    <div class="image_video_box_only  type_one mr_bottom_minus_90 z_1">
                                        <div class="image one height_530px">
                                            <img src="{{ develop.image.url }}" alt="img" class="img-fluid height_530px"> 
                                            <div class="video_box video-inner text-center">
                                                <a href="{{ develop.video }}" class="lightbox-image">
                                                    <i class="fi-rr-play"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!--content-->
                    <!--funfacts-->
                    <section class="analysis-section position-relative bg_1 overflow-hidden">
                        <!---============spacing==========--->
                        <div class="pd_top_170"></div>
                        <!---============spacing==========--->
                       
                        <div class="medium-container-two">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="section_title text-center color_white type_one">
                                        <h4 class="sm_title">{{ achievemant_id.title }}</h4>
                                        <div class="title_whole">
                                            <h2 class="title">{{ achievemant_id.context }}</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!---============spacing==========--->
                            <div class="pd_bottom_30"></div>
                            <!---============spacing==========--->

                            <div class="row">
                                <div class="col-lg-1 col-md-6 col-sm-6 col-xs-12"></div>
                                {% for achievemant in achievemant_all %}
                                <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12">
                                    <div class="fun_facts type_one color_white">
                                        <div class="icon trans">
                                            <div class="icon_in trans">
                                                {% if achievemant.icon == 'Довольных клиентов' %}
                                                <i class=" flaticon-satisfaction"></i></div>
                                                {% endif %}
                                                {% if achievemant.icon == 'Опытных сотрудников' %}
                                                <i class=" flaticon-business-people"></i></div>
                                                {% endif %}
                                                {% if achievemant.icon == 'Уровень удовлетворенности' %}
                                                <i class=" flaticon-reviews"></i></div>
                                                {% endif %}
                                                {% if achievemant.icon == 'Многолетний опыт' %}
                                                <i class=" flaticon-presenter"></i></div>
                                                {% endif %}
                                                {% if achievemant.icon == 'Награды' %}
                                                <i class=" flaticon-trophy"></i></div>
                                                {% endif %}
                                        </div>
                                        <h4>
                                            <span class="count">{{ achievemant.title_icon }}</span>
                                            <small>
                                                + </small></h4>
                                        <h6 class="title_no_a_18">{{ achievemant.context_icon }}</h6>
                                    </div>
                                    <!---============spacing==========--->
                                    <div class="pd_bottom_20"></div>
                                    <!---============spacing==========--->
                                </div>
                                {% endfor %}
                            </div>


                        </div>
                        <!---============spacing==========--->
                        <div class="pd_bottom_50"></div>
                        <!---============spacing==========--->
                        
                    </section>
                    <!--funfacts-->
                    <!--team-->
                    <section class="team-section">
                        <!---============spacing==========--->
                        <div class="pd_top_80"></div>
                        <!---============spacing==========--->
                        <div class="container">

                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="section_title text-center type_one">
                                        <h4 class="sm_title">{{ comand_id.title }}</h4>
                                        <div class="title_whole">
                                            <h2 class="title"> 
                                                {{ comand_id.context }}</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!---============spacing==========--->
                            <div class="pd_bottom_40"></div>
                            <!---============spacing==========--->
                            <div class="row">
                                {% for comand in comand_all %}
                                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                    <div class="team_box type_two">
                                        <div class="team_box_inner">
                                            <div class="contnet">
                                                <h6 class="title_22">
                                                    <a href="about-us">
                                                    {{ comand.title_image }}</a></h6>
                                                <p>{{ comand.context_image }}</p>
                                            </div>
                                            <div class="image_box">
                                                <img src="{{ comand.image.url }}" alt="img" class="img-fluid">

                                                <div class="social-icons trans">
                                                    <ul>
                                                        <li>
                                                            <a href="about-us.html#" class="m_icon">
                                                                <i class="fab fa-facebook"></i>
                                                            </a></li>
                                                        <li>
                                                            <a href="about-us.html#" class="m_icon">
                                                                <i class="fab fa-twitter"></i>
                                                            </a></li>
                                                        <li>
                                                            <a href="about-us.html#" class="m_icon">
                                                                <i class="fab fa-skype"></i>
                                                            </a></li>
                                                        <li>
                                                            <a href="about-us.html#" class="m_icon">
                                                                <i class="fab fa-instagram"></i>
                                                            </a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <!---============spacing==========--->
                        <div class="pd_bottom_80"></div>
                        <!---============spacing==========--->
                    </section>
                    <!--team-->
                    <!--client-->
                    <section class="client-section bg_light_1">
                        <!---============spacing==========--->
                        <div class="pd_top_40"></div>
                        <!---============spacing==========--->
                        <div class="container">
                            <div class="row align-items-center">
                                <div class="col-lg-4 col-md-12 pd_right_60">
                                    <div class="section_title type_one small">
                                        <h4 class="sm_title">{{ klient_id.title }}</h4>
                                        <div class="title_whole">
                                            <h2 class="title">{{ klient_id.context }}</h2>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-8 col-md-12">
                                    <div class="row">
                                        {% for klient in klient_all %}
                                        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                            <div class="iamge mr_bottom_20 mr_top_20">
                                                <img src="{{ klient.image.url }}" class="img-fluid m-auto" alt="client" style="width: 70%;">
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!---============spacing==========--->
                        <div class="pd_bottom_30"></div>
                        <!---============spacing==========--->
                    </section>
                    <!--client-->
                      <!--testimonial-->
                      <section class="testimonial-section">
                        <!---============spacing==========--->
                        <div class="pd_top_90"></div>
                        <!---============spacing==========--->
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="section_title text-center type_one">
                                        <div class="title_whole">
                                            <h2 class="title">{{ request_id.title }}</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                               <!---============spacing==========--->
                        <div class="pd_bottom_40"></div>
                        <!---============spacing==========--->
                            <div class="testimonial_carousel  position-relative position_one nav_false dot_true">
                                <div class="theme_carousel owl-theme owl-carousel"
                                    data-options='{"loop": true , "margin": 20, "autoheight":true, "lazyload":true, "nav": true, "dots": true, "autoplay": false, "autoplayTimeout": 6000,  "smartSpeed": 300, "responsive":{ "0" :{ "items": "1" }, "320" :{ "items" : "1" }, "500" :{ "items" : "1" }, "768" :{ "items" : "2" } , "992":{ "items" : "3" }, "1200":{ "items" : "3" }}}'>
                                    {% for request in request_all %}
                                    <div class="testimonial_box type_two ">
                                        <div class="auth d-flex align-items-center clearfix">
                                            <div class="image_box">
                                                <img src="{{ request.image_blog.url }}" alt="img"
                                                    class="img-fluid" />
                                            </div>
                                            <div class="cont">
                                                <h4 class="title_no_a_24">{{ request.blog_title }}</h4>
                                                <p>{{ request.context_blog }}</p>
                                            </div>
                                        </div>
                                        <div class="title_no_a_22 t_comment">
                                            <sup>“</sup>{{ request.blog_text }}
                                            <sub>“</sub></div>
                                        <div class="box">
                                            <h6>{{ request.end_blog }}</h6>
                                            <p>
                                                <i class="fa fa-star fill"></i><i class="fa fa-star fill"></i><i
                                                    class="fa fa-star fill"></i><i class="fa fa-star empty"></i><i
                                                    class="fa fa-star empty"></i></p>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <!---============spacing==========--->
                        <div class="pd_top_80"></div>
                        <!---============spacing==========--->
                    </section>
                    <!--testimonial-->
                </div>
                <!--content end-->
                <!--footer start-->
                {% include "include/footer.html"%}
                  <!--footer  end-->
                  <!----==============content_all_warpper==============--->
                </div>
                <!----==============content_all_warpper end==============--->
                <!----==============mobile_menu_box ==============--->
                <div class="mobile_menu_box">
                  <div class="menu-backdrop"></div>
                  <nav class="menu-box scrollbarcolor">
                      <div class="close-btn"><i class="fi-rr-cross"></i></div>
                      <form role="search" method="get" action="index.html#">
                          <input type="search" class="search" placeholder="Поиск..." value="" name="s" title="Search" />
                          <button type="submit" class="sch_btn"> <i class="fa fa-search"></i></button>
                      </form>
                      <div class="menu-outer">
                          <div class="navigation_menu">
                              <ul class="navbar_nav getmobilemenu">
          
                              </ul>
                          </div>
                      </div>
                      <div class="mobile-header-info-wrap">
                          <div class="single-mobile-header-info">
                              <a href="tel:9806071234" class="cnt"><i class="fi-rs-headphones"></i>+996-777-777-777</a>
                          </div>
          
                          <div class="single-mobile-header-info cont_over">
                              <a href="mailto:sendmail@example.com" class="cnt"><i
                                      class="fi-rs-envelope"></i>mailbox.msbusiness@gmail.com</a>
                          </div>
                          <div class="single-mobile-header-info">
                              <a href="contact" class="theme_btn tp_one">Контакты</a>
                          </div>
                          <div class="single-mobile-header-info">
                              <a href="index" class="theme_btn">Service</a>
                          </div>
                      </div>
          
                  </nav>
              </div>
                <!----==============mobile_menu_box end==============--->
                <!----==============search-popup==============--->
                <div class="search-popup">
                  <div class="close-search zoom-in-zoom-out"><i class="fa fa-times"></i></div>
                  <div class="popup-inner">
                      <div class="overlay-layer"></div>
                      <div class="search-form">
                          <fieldset>
                              <form role="search" method="get" action="#index.html">
                                  <input type="search" class="search" placeholder="Поиск..." value="" name="s" title="Search" />
                                  <button type="submit" class="sch_btn"> <i class="fi-rs-search"></i></button>
                              </form>
                          </fieldset>
                      </div>
                  </div>
              </div>
                <!----==============search-popup end==============--->
                <!----==============option_panel==============--->
                <div class="prgoress_indicator">
                  <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
                      <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
                  </svg>
              </div>
            <!----==============option_panel end==============--->
            <!-- Back to top with progress indicator-->
            <div class="prgoress_indicator">
                <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
                    <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
                </svg>
            </div>
            <!----=============page_wapper end=============---->
        </div>
        <!----=============page_wapper end=============---->

        <!----=================Script================---->
        {% endblock %}