{% extends "include/homepage.html" %}
{% load static %}
{% block content %}


<body class="theme-vankine scrollbarcolor">
    <!----=============page_wapper=============---->
    <div id="page" class="page_wapper hfeed site">
        <!----=============page_wapper=============---->
        <!----=============Preloader=============---->
        <div class="loader-wrap">
            <div class="preloader">
                <div class="preloader-close">
                    <i class="fi-rr-cross"></i>
                </div>
            </div>
            <div class="layer"></div>
            <div class="animation-preloader">
                <div class="spinner"></div>
            </div>
        </div>
        <!----=============Preloader end=============---->
        <!----=============Header=============---->
        {% include 'include/header.html' %}

        <!----==============sticky header end==============--->
        <!----==============content_all_warpper==============--->
        <div id="wrapper_full" class="content_all_warpper">
            <!----==============content_all_warpper==============--->
            <!----==============page header==============--->
            <section class="page_header_default pg_bg_cover alignment_center">
                <div class="bakground_cover"
                    style="background-image:url({{ main_id.image.url }})"></div>
                <div class="page_header_content">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="banner_title_inner">
                                    <div class="title">
                                        <span class="main_tit">{{ main_id.title }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 vankine">
                                <ul class="breadcrumb m-auto">
                                    <li>
                                        <a href="blog.html#">{{ main_id.context }}</a>
                                    </li>
                                    <li class="active">{{ main_id.end_blog }}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!----==============page header==============--->
            <!--content start-->
            <div id="content" class="site-content">
                <div class="blog-section">
                    <!---============spacing==========--->
                    <div class="pd_top_90"></div>
                    <!---============spacing==========--->
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12" style="width: 100%;">

                                <div class="row loop-grid">
                                    <!---#row---->
                                    {% for project in project_all %}
                                    <div class="col-xl-12">
                                        <article class="blog_style one has_images" id="post-1576">
                                            <div class="image_box ">
                                                <a href="blog-details.html">
                                                    <img src="{{ project.image.url }}"
                                                        alt="img" class="img-fluid" />
                                                </a>
                                            </div>
                                            <div class="content_box">

                                                <a href="blog-details.html" class="cat_gry">
                                                    <h2>{{ project.title }}</h2>
                                                </a>

                                                <div class="d-flex authour align-items-center">
                                                    <ul>
                                                        <li>{{ project.text1 }}</li>
                                                        <li>{{ project.text2 }}</li>
                                                        <li>{{ project.text3 }}</li>
                                                        <li>{{ project.text4 }}</li>
                                                    </ul>
                                                </div>

                                                <div class="bottom d-flex  align-items-center">
                                                    <a href="blog-details.html" class="rd_more">{{ project.end_projectrs }}<i
                                                            class="fi-rr-arrow-small-right"></i>
                                                    </a>

                                                </div>
                                            </div>
                                        </article>
                                    </div>
                                    {% endfor %}
                                </div>

                                <!---============spacing==========--->
                                <div class="pd_bottom_30"></div>
                                <!---============spacing==========--->

                            </div>


                            <!---============spacing==========--->
                            <div class="pd_bottom_30"></div>
                            <!---============spacing==========--->
                        </div>
                        <!-- #sidebat -->
                    </div>
                </div>
                <!---============spacing==========--->
                <div class="pd_bottom_60"></div>
                <!---============spacing==========--->
            </div>
        </div>
        <!--content end-->
        <!--footer start-->
        {% include "include/footer.html" %}
        <!--footer  end-->
        <!----==============content_all_warpper==============--->
    </div>
    <!----==============content_all_warpper end==============--->
    <!----==============mobile_menu_box ==============--->
    <div class="mobile_menu_box">
        <div class="menu-backdrop"></div>
        <nav class="menu-box scrollbarcolor">
            <div class="close-btn"><i class="fi-rr-cross"></i></div>
            <form role="search" method="get" action="index.html#">
                <input type="search" class="search" placeholder="Поиск..." value="" name="s" title="Search" />
                <button type="submit" class="sch_btn"> <i class="fa fa-search"></i></button>
            </form>
            <div class="menu-outer">
                <div class="navigation_menu">
                    <ul class="navbar_nav getmobilemenu">

                    </ul>
                </div>
            </div>
            <div class="mobile-header-info-wrap">
                <div class="single-mobile-header-info">
                    <a href="tel:9806071234" class="cnt"><i class="fi-rs-headphones"></i>+996-777-777-777</a>
                </div>

                <div class="single-mobile-header-info cont_over">
                    <a href="mailto:sendmail@example.com" class="cnt"><i
                            class="fi-rs-envelope"></i>mailbox.msbusiness@gmail.com</a>
                </div>
                <div class="single-mobile-header-info">
                    <a href="index.html#" class="theme_btn tp_one">Контакты</a>
                </div>
                <div class="single-mobile-header-info">
                    <a href="index.html#" class="theme_btn">Service</a>
                </div>
            </div>

        </nav>
    </div>
    <!----==============mobile_menu_box end==============--->
    <!----==============search-popup==============--->
    <div class="search-popup">
        <div class="close-search zoom-in-zoom-out"><i class="fa fa-times"></i></div>
        <div class="popup-inner">
            <div class="overlay-layer"></div>
            <div class="search-form">
                <fieldset>
                    <form role="search" method="get" action="#index.html">
                        <input type="search" class="search" placeholder="Поиск..." value="" name="s" title="Search" />
                        <button type="submit" class="sch_btn"> <i class="fi-rs-search"></i></button>
                    </form>
                </fieldset>
            </div>
        </div>
    </div>
    <!----==============search-popup end==============--->
    <!----==============option_panel==============--->
    <div class="prgoress_indicator">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
        </svg>
    </div>
    <!----==============option_panel end==============--->
    <!-- Back to top with progress indicator-->
    <div class="prgoress_indicator">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
        </svg>
    </div>
    <!----=============page_wapper end=============---->
    </div>
    <!----=============page_wapper end=============---->
    {% endblock %}