{% extends "include/homepage.html" %}
{% load static %}
{% block content %}

<body class="theme-vankine scrollbarcolor">
    <!----=============page_wapper=============---->
    <div id="page" class="page_wapper hfeed site">
        <!----=============page_wapper=============---->
        <!----=============Preloader=============---->
        <div class="loader-wrap">
            <div class="preloader">
                <div class="preloader-close"><i class="fi-rr-cross"></i></div>
            </div>
            <div class="layer"> </div>
            <div class="animation-preloader">
                <div class="spinner"></div>
            </div>
        </div>
        <!----=============Preloader end=============---->
        <!----=============Header=============---->
        {% include 'include/header.html' %}
        <!----==============sticky header end==============--->
        <!----==============content_all_warpper==============--->
        <div id="wrapper_full" class="content_all_warpper">
            <!----==============content_all_warpper==============--->
            <!--content start-->
            <div id="content" class="site-content">
                <!---slider-->
                <section class="slider style_one">
                    <div class="owl-carousel owl_nav_block owl_dots_none theme_carousel owl-theme"
                        data-options='{"loop": true, "margin": 0, "autoheight":true, "lazyload":true, "nav": true, "dots": true, "autoplay": true, "autoplayHoverPause":true , "autoplayTimeout": 7000, "smartSpeed": 1800, "responsive":{ "0" :{ "items": "1" }, "768" :{ "items" : "1" } , "1000":{ "items" : "1" }}}'>
                        <!---sldier-->
                        {% for main in index %}
                        <div class="slide-item-content">
                            <div class="image-layer" style="background-image:url({{ main.image.url }})">
                            </div>
                            <div class="slide-item content_left">
                                <div class="auto-container">
                                    <div class="row align-items-center">
                                        <div class="col-md-7">
                                            <div class="slider_content">
                                                <div class="bg_image animate_up">
                                                    <img src="{{ main.image2.url }}" class="img-fluid" alt="ptimage" />
                                                </div>
                                                <h1 class="animate_left">
                                                    {{ main.title }}
                                                </h1>

                                                <div class="button_all animate_down">
                                                    <a href="index.html#" class="theme_btn color_white  animated">
                                                        {{ main.context }}</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        <!---slider-->
                        <!---slider-->
                    </div>
                </section>
                <!---slider-end--->
                <!---service-->
                <section class="1">
                    <!---============spacing==========--->
                    <div class="pd_top_80"></div>
                    <!---============spacing==========--->
                    <div class="container">
                        <div class="row align-items-end">
                            <div class="work_proces">
                                <div class="section_title type_one">
                                    <h4 class="sm_title">{{ job_id.title }}</h4>
                                    <div class="title_whole">
                                        <h2 class="title">{{ job_id.context }}</h2>
                                    </div>
                                </div>
                                <!---============spacing==========--->
                                <div class="mr_bottom_15"></div>
                                <!---============spacing==========--->
                            </div>

                        </div>
                        <!---============spacing==========--->
                        <div class="pd_bottom_25"></div>
                        <!---============spacing==========--->
                        <div class="service_post position-relative  ajax_service_enabled ">
                            <div class="row">
                                {% for job in job_all %}
                                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                                    <div class="service_box type_two hover_1_get">
                                        <a href="service.html" class="img_bx">
                                            <div class="image trans hover_1">
                                                <img src="{{ job.image.url }}" class="img-fluid" alt="service-image" />
                                                <div class="oh ho_1"></div>
                                                <div class="oh ho_2"></div>
                                                <div class="oh ho_3"></div>
                                                <div class="oh ho_4"></div>
                                            </div>
                                        </a>
                                        <div class="content_box trans">
                                            <div class="icon trans">
                                                {% if job.icon == 'Изучение' %}
                                                <i class="flaticon-salary trans"></i>
                                                {% endif %}
                                                {% if job.icon == 'РАЗРАБОТКА' %}
                                                <i class="flaticon-management trans"></i>
                                                {% endif %}
                                                {% if job.icon == 'ЗАПУСК' %}
                                                <i class="flaticon-business-trip trans"></i>
                                                {% endif %}
                                            </div>
                                            <div class="steps trans">{{ job.num }}</div>
                                            <h4 class="title_24 trans">
                                                <a href="service.html">
                                                    {{ job.image_title }}
                                                </a>
                                            </h4>
                                            <p class="trans">
                                                {{ job.image_context }}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <!---============spacing==========--->
                    <div class="pd_bottom_60"></div>
                    <!---============spacing==========--->
                </section>
                <!---service end-->
                <!---about-->
                <section class="about-section position-relative">
                    <!---============spacing==========--->
                    <div class="pd_top_20"></div>
                    <!---============spacing==========--->
                    <div class="ab_img_left_bottom z_minus_1">
                        <img src="{{ about_id.image.url }}" class="img-fluid" alt="img" />
                    </div>
                    <div class="large-container">
                        <div class="row align-items-start">
                            <div class="col-lg-5 col-md-5 col-sm-12">
                                <div class="image_box">
                                    <img src="{{ about_id.image2.url }}" class="img-fluid" alt="img" />
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 pd_left_30">
                                <div class="section_title type_one">
                                    <h4 class="sm_title2">{{ about_id.title }}</h4>
                                    <div class="title_whole">
                                        <h2 class="title">{{ about_id }}</h2>
                                    </div>
                                </div>
                                <!---============spacing==========--->
                                <div class="mr_bottom_20"></div>
                                <!---============spacing==========--->
                                <div class="fom_tab_box custom_tabs only_tab_content">
                                    <div class="s_tabs_content tab-content">
                                        <div class="tab-pane  active" id="aboutuss" role="tabpanel"
                                            aria-labelledby="aboutuss-tabtab">
                                            <div class="tab_content_box">
                                                <div class="content">
                                                    {{ about_id.text }}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!---============spacing==========--->
                                <div class="pd_bottom_30"></div>
                                <!---============spacing==========--->
                                <div class="theme_btn_all">
                                    <a href="#index.html#" class="theme_btn">
                                        {{ about_id.end_about }}
                                        <span> <i class=" fi-rr-arrow-small-up"></i></span>
                                    </a>
                                </div>
                                <!---============spacing==========--->
                                <div class="pd_bottom_70"></div>
                                <!---============spacing==========--->
                            </div>
                        </div>
                    </div>
                    <div class="ab_img_right_bottom z_minus_1">
                        <img src="{% static 'assets/images/bg-2.png' %}" class="img-fluid" alt="img" />
                    </div>
                </section>
                <!---about end-->

                <!---service-->
                <section class="service-section position-relative bg_2 overflow-hidden">
                    <!---============spacing==========--->
                    <div class="pd_top_80"></div>
                    <!---============spacing==========--->

                    <div class="position-relative z_1">
                        <div class="container pd_zero md_pd_left_15 md_pd_right_15">
                            <div class="row">
                                <div class="col-lg-7 m-auto">
                                    <div class="section_title text-center type_one color_white">
                                        <h4 class="sm_title">{{ directions_id.title }}</h4>
                                        <div class="title_whole">
                                            <h2 class="title">{{ directions_id.context }}</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!---============spacing==========--->
                            <div class="pd_bottom_40"></div>
                            <!---============spacing==========--->
                            <div class="row  mr_left_minus_15 mr_right_minus_15">
                                {% for directions in directions_all %}
                                <div class="col-xl-3">
                                    <div class="service_box type_five style_two icon_box_only type_three trans">
                                        <div class="icon_inner trans">
                                            <div class="d-flex trans">
                                                <div class="content">
                                                    <div class="title_22">
                                                        <a href="#service.html">
                                                            {{ directions.blog_title }}</a>
                                                    </div>
                                                    <p class="trans">
                                                        {{ directions.blog_context }}</p>
                                                    <a href="#service.html" class="rd_more">
                                                        {{ directions.end_blog }}
                                                        <svg width="14" height="12" viewBox="0 0 14 12" fill="none"
                                                            xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M8 1L13 6M13 6L8 11M13 6H1"
                                                                stroke="var(--color-white)" stroke-width="1.5"
                                                                stroke-linecap="round" stroke-linejoin="round">
                                                            </path>
                                                        </svg>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
            </div>
            <div class="ab_img_right_bottom mr_bottom_minus_250 z_0">
                <img src="{% static 'assets/images/shape/wave-pattern-1.png' %}" class="img-fluid" alt="img">
            </div>
            <!---============spacing==========--->
            <div class="pd_bottom_80"></div>
            <!---============spacing==========--->

            </section>
            <!---service end-->

            <!---faqs-->
            <section class="faq-section">
                <!---============spacing==========--->
                <div class="pd_top_80"></div>
                <!---============spacing==========--->
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="section_title type_one">
                                <h4 class="sm_title3">{{ advantages_id.title }}</h4>
                                <div class="title_whole">
                                    <h2 class="title">{{ advantages_id.context }}</h2>
                                </div>
                                <!---============spacing==========--->
                                <div class="pd_bottom_20"></div>
                                <!---============spacing==========--->
                            </div>
                            <div class="position-relative br_left_3px_theme_color pd_left_10">
                                {{ advantages_id.text }}
                            </div>
                            <!---============spacing==========--->
                            <div class="pd_bottom_30"></div>
                            <!---============spacing==========--->
                            <div class="block_faq">
                                <div class="accordion-box">
                                    <div class="accordion  active-block">
                                        <div class="question faq_header active">
                                            <div class="question_box">
                                                <div class="title_no_a_18 trans">{{ advantages_id.informations_title }}
                                                </div>
                                                <span class="icon_fq trans fi-rs-arrow-small-right"></span>
                                            </div>
                                        </div>
                                        <div class="answer accordion-content current">
                                            {{ advantages_id.informations_context }}
                                        </div>
                                    </div>
                                    {% for advantages in advantages_all %}
                                    <div class="accordion">
                                        <div class="question  faq_header">
                                            <div class="question_box ">
                                                <div class="title_no_a_18 trans">{{ advantages.informations_title }}
                                                </div>
                                                <span class="icon_fq trans fi-rs-arrow-small-right"></span>
                                            </div>
                                        </div>
                                        <div class="answer accordion-content">
                                            {{ advantages.informations_context }}
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <!---============spacing==========--->
                            <div class="pd_bottom_40"></div>
                            <!---============spacing==========--->
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 pd_left_30">
                            <div class="image_box_only  type_three">
                                {% for advantages in advantages_all %}
                                <div class="left">
                                    <div class="image one">
                                        <img src="{{ advantages.image.url }}" alt="img"
                                            class="img-fluid">
                                    </div>
                                    <!-- <div class="image two">
                                        <img src="{% static 'assets/images/about/about-2-3.jpg' %}" alt="img"
                                            class="img-fluid">
                                    </div> -->
                                </div>
                                {% endfor %}
                                <div class="right">
                                    <div class="image three">
                                        <img src="{{ advantages_id.image2.url }}" alt="img"
                                            class="img-fluid">
                                    </div>
                                </div>
                            </div>
                            <!---============spacing==========--->
                            <div class="pd_bottom_40"></div>
                            <!---============spacing==========--->
                        </div>
                    </div>
                </div>
                <!---============spacing==========--->
                <div class="pd_bottom_40"></div>
                <!---============spacing==========--->
            </section>
            <!---faqs end-->

            <!--fun fact-->
            <section class="fub-fact-section mr_bottom_minus_90 position-relative z_2">
                <div class="medium-container">
                    <div class="inner-section bg_op_1 position-relative overflow-hidden pd_top_60 pd_bottom_30 pd_left_60 pd_right_60 md_pd_left_15 md_pd_right_15"
                        style="background-image: url({{ descriptions_id.image.url }});">
                        <div class="background_overlay z_0"></div>
                        <div class="row">
                            {% for descriptions in descriptions_all %}
                            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                <div class="fun_facts type_three">
                                    <div class="icon trans">
                                        {% if descriptions.icon == 'Довольных клиентов' %}
                                        <i class="color_white flaticon-satisfaction"></i>
                                        {% endif %}
                                        {% if descriptions.icon == 'Опытных сотрудников' %}
                                        <i class="color_white flaticon-business-people"></i>
                                        {% endif %}
                                        {% if descriptions.icon == 'Удовлетворенности' %}
                                        <i class="color_white flaticon-reviews"></i>
                                        {% endif %}
                                        {% if descriptions.icon == 'Наград' %}
                                        <i class="color_white flaticon-trophy"></i>
                                        {% endif %}
                                    </div>
                                    <div class="content">
                                        <h4>
                                            <span class="count color_white">{{ descriptions.context }}</span>
                                            <small class="color_white"> + </small>
                                        </h4>
                                        <h6 class="title_no_a_18 color_white">{{ descriptions.title }}</h6>
                                    </div>
                                </div>
                                <!---============spacing==========--->
                                <div class="pd_bottom_30"></div>
                                <!---============spacing==========--->
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </section>
            <!--fun fact-->

            <!--form section-->
            <section class="form-section bg_light_1 position-relative">
                <div class="ab_img_left_top">
                    <img src="{% static 'assets/images/bg.png' %}" class="img-fluid" alt="img">
                </div>
                <!---============spacing==========--->
                <div class="pd_top_190"></div>
                <!---============spacing==========--->
                <div class="container-fluid">
                    <div class="row align-items-end">
                        <div class="col-lg-3 col-md-3 col-sm-12">
                            <div class="image">
                                <img src="{{ application_id.image.url }}" class="img-fluid m-auto"
                                    alt="img" />
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="section_title text-center type_one">
                                <h4 class="sm_title">{{ application_id.title }}</h4>
                                <div class="title_whole">
                                    <h2 class="title">{{ application_id.context }}</h2>
                                </div>
                            </div>
                            <!---============spacing==========--->
                            <div class="pd_bottom_40"></div>
                            <!---============spacing==========--->
                            <section class="fom_tab_box custom_tabs type_one">
                                <ul class="nav nav-tabs links trans justify-content-center" role="tablist">
                                    {% for appli in application_all %}
                                    <li class="nav-item">
                                        <button class="nav-link" id="tab1-cartab" data-bs-toggle="tab"
                                            data-bs-target="#tab1" type="button" role="tab" aria-controls="tab1"
                                            aria-selected="false">
                                            {{ appli.speakers }}
                                        </button>
                                    </li>
                                    {% endfor %}
                                </ul>
                                <div class="s_tabs_content tab-content">
                                    {% for application in application_all %}
                                    <div class="tab-pane" id="tab1" role="tabpanel" aria-labelledby="tab1-cartab">
                                        <div class="contentbox ">
                                            <div class="contact_form_shortcode">
                                                <form method="post" action="index.html#">
                                                    <div class="row">
                                                        <div class="col-lg-4 col-md-4 col-sm-12">
                                                            <label>{{ application.frist_name }}<span>*</span></label>
                                                            <input type="text" name="name"
                                                                placeholder="Антонов Антон Антонович" required="">
                                                        </div>
                                                        <div class="col-lg-4 col-md-4 col-sm-12">
                                                            <label>{{ application.phone_number }}</label>
                                                            <input type="text" name="phone"
                                                                placeholder="+996-777-777-777">
                                                        </div>
                                                        <div class="col-lg-4 col-md-4 col-sm-12">
                                                            <label>{{ application.addres_email }}<span
                                                                    class="wpforms-required-label">*</span></label>
                                                            <input type="email" name="email"
                                                                placeholder="Ваша почта@gmail.com" required="">
                                                        </div>
                                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                                            <label>{{ application.limit }}</label>
                                                            <input type="range" name="range" value="4000" min="0"
                                                                max="8560" step="1">
                                                            <div class="slider-hint">{{ application.meaning_main }}<b>{{ application.meaning }}</b>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-3 col-md-3 col-sm-12 text-md-end">
                                                            <button type="submit">{{ application.end_application }}</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </section>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12">
                            <div class="image">
                                <img src="{{ application_id.image2.url }}" class="img-fluid m-auto"
                                    alt="img" />
                            </div>
                        </div>
                    </div>
                </div>
            </section>  
            <!--form-section end-->
            <!---client-section--->
            <section class="client-section">
                <!---============spacing==========--->
                <div class="pd_top_80"></div>
                <!---============spacing==========--->
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-5 col-md-12">
                            <div class="section_title type_one">
                                <h4 class="sm_title">{{ klient_id.title }}</h4>
                                <div class="title_whole">
                                    <h2 class="title">
                                        {{ klient_id.context }}
                                    </h2>
                                </div>
                            </div>
                            <!---============spacing==========--->
                            <div class="pd_bottom_30"></div>
                            <!---============spacing==========--->
                            <div class="theme_btn_all">
                                <a href="blog.html" class="theme_btn big rotate">
                                    {{ klient_id.end_coment }} <span> <i class="fi-rr-arrow-small-up"></i></span>
                                </a>
                            </div>
                            <!---============spacing==========--->
                            <div class="pd_bottom_20"></div>
                            <!---============spacing==========--->
                        </div>
                        <div class="col-lg-7 col-md-12">
                            <div class="client_grid">
                                {% for klient in klient_all %}
                                <div class="client_box">
                                    <a href="index.html#">
                                        <img src="{{ klient.image.url }}" class="img-fluid"
                                            alt="img" />
                                    </a>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <!---============spacing==========--->
                <div class="pd_bottom_90"></div>
                <!---============spacing==========--->
            </section>
            <!---client-section-end --->



        </div>
        <!--content end-->
        <!--footer start-->
        {% include "include/footer.html" %}

        <!--footer  end-->
        <!----==============content_all_warpper==============--->
    </div>
    <!----==============content_all_warpper end==============--->
    <!----==============mobile_menu_box ==============--->
    <div class="mobile_menu_box">
        <div class="menu-backdrop"></div>
        <nav class="menu-box scrollbarcolor">
            <div class="close-btn"><i class="fi-rr-cross"></i></div>
            <form role="search" method="get" action="index.html#">
                <input type="search" class="search" placeholder="Поиск..." value="" name="s" title="Search" />
                <button type="submit" class="sch_btn"> <i class="fa fa-search"></i></button>
            </form>
            <div class="menu-outer">
                <div class="navigation_menu">
                    <ul class="navbar_nav getmobilemenu">

                    </ul>
                </div>
            </div>
            <div class="mobile-header-info-wrap">
                <div class="single-mobile-header-info">
                    <a href="tel:9806071234" class="cnt"><i class="fi-rs-headphones"></i>+996-777-777-777</a>
                </div>

                <div class="single-mobile-header-info cont_over">
                    <a href="mailto:sendmail@example.com" class="cnt"><i
                            class="fi-rs-envelope"></i>mailbox.msbusiness@gmail.com</a>
                </div>
                <div class="single-mobile-header-info">
                    <a href="index.html#" class="theme_btn tp_one">Контакты</a>
                </div>
                <div class="single-mobile-header-info">
                    <a href="index.html#" class="theme_btn">Service</a>
                </div>
            </div>

        </nav>
    </div>
    <!----==============mobile_menu_box end==============--->
    <!----==============search-popup==============--->
    <div class="search-popup">
        <div class="close-search zoom-in-zoom-out"><i class="fa fa-times"></i></div>
        <div class="popup-inner">
            <div class="overlay-layer"></div>
            <div class="search-form">
                <fieldset>
                    <form role="search" method="get" action="#index.html">
                        <input type="search" class="search" placeholder="Поиск..." value="" name="s" title="Search" />
                        <button type="submit" class="sch_btn"> <i class="fi-rs-search"></i></button>
                    </form>
                </fieldset>
            </div>
        </div>
    </div>
    <!----==============search-popup end==============--->

    <!-- Back to top with progress indicator-->
    <div class="prgoress_indicator">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
        </svg>
    </div>
    <!----=============page_wapper end=============---->
    </div>
    <!----=============page_wapper end=============---->

    <!----=================Script================---->
    {% endblock %}x