{% extends "include/homepage.html" %}
{% load static %}
{% block content %}
 
    <body class="theme-vankine scrollbarcolor">
        <!----=============page_wapper=============---->
        <div id="page" class="page_wapper hfeed site">
            <!----=============page_wapper=============---->
            <!----=============Preloader=============---->
            <div class="loader-wrap">
                <div class="preloader">
                    <div class="preloader-close"><i class="fi-rr-cross"></i></div>
                </div>
                <div class="layer"> </div>
                <div class="animation-preloader">
                    <div class="spinner"></div>
                </div>
            </div>
            <!----=============Preloader end=============---->
            <!----=============Header=============---->
            {% include "include/header.html" %}
            <!----==============sticky header end==============--->
            <!----==============content_all_warpper==============--->
            <div id="wrapper_full" class="content_all_warpper">
                <!----==============content_all_warpper==============--->
                <!----==============page header==============--->
                <section class="page_header_default pg_bg_cover alignment_center">
                    <div class="bakground_cover" style="background-image:url({{ style.image.url }})"></div>
                    <div class="page_header_content">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="banner_title_inner">
                                        <div class="title">
                                            <span class="main_tit">{{ style.title }}</span> </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 vankine">
                                    <ul class="breadcrumb m-auto">
                                        <li><a href="service-style-6.html#">{{ style.context }}</a> </li>
                                        <li class="">{{ style.end }}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!----==============page header==============--->
                <!--content start-->
                <div id="content" class="site-content">
                     <!---service-->
                     <section class="service-section-one">
                        <!---============spacing==========--->
                        <div class="pd_top_90"></div>
                        <!---============spacing==========--->
                        <div class="container">
                            <div class="row align-items-end">
                                <div class="col-lg-6">
                                    <div class="section_title type_one">
                                        <h4 class="sm_title">{{ insurance_id.title }}</h4>
                                        <div class="title_whole">
                                            <h2 class="title"> {{ insurance_id.context }} </h2>
                                        </div>
                                    </div>
                                    <!---============spacing==========--->
                                    <div class="pd_bottom_20"></div>
                                    <!---============spacing==========--->
                                </div>
                                <div class="col-lg-6">
                                    <p class="mr_bottom_10">{{ insurance_id.text }}</p>
                                    <!---============spacing==========--->
                                    <div class="pd_bottom_20"></div>
                                    <!---============spacing==========--->
                                </div>
                            </div>
                            <!---============spacing==========--->
                            <div class="pd_bottom_20"></div>
                            <!---============spacing==========--->
                            <div class="service_post position-relative">
                                <div class="row">
                                    {% for insurance in insurance_all %}
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                                        <div class="service_box type_seven trans">
                                            <div class="icon trans">
                                                <svg width="110" height="130" viewBox="0 0 110 130" fill="none"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path
                                                        d="M0 124.009C0 127.128 2.82523 129.486 5.89443 128.928L105.894 110.746C108.272 110.314 110 108.244 110 105.827V5C110 2.23858 107.761 0 105 0H5C2.23858 0 0 2.23858 0 5V124.009Z"
                                                        fill="var(--color-set-one-1)"></path>
                                                </svg>
                                                {% if insurance.icon == 'Страхование путешествий' %}
                                                <i class=" flaticon-travel-insurance trans"></i>
                                                {% endif %}
                                                {% if insurance.icon == 'Медицинский Страхование' %}
                                                <i class=" flaticon-health-insurance trans"></i>
                                                {% endif %}
                                                {% if insurance.icon == 'Страхование брака' %}
                                                <i class=" flaticon-marriage trans"></i>
                                                {% endif %}
                                                {% if insurance.icon == 'Страхование жизни' %}
                                                <i class=" flaticon-marriage trans"></i>
                                                {% endif %}
                                                {% if insurance.icon == 'Страхование дома' %}
                                                <i class=" flaticon-house trans"></i>
                                                {% endif %}
                                                {% if insurance.icon == 'Страховка от пожара' %}
                                                <i class=" flaticon-insurance trans"></i>
                                                {% endif %}
                                            </div>
                                            <div class="content d-flex align-items-center bg_light_1">
                                                <img src="{{ insurance.image.url }}" class="img-fluid"
                                                    alt="service" />
                                                <div class="left">
                                                    <div class="title_26">
                                                        <a href="service-details.html">
                                                            {{ insurance.blog_title }}
                                                        </a>
                                                    </div>
                                                    <p class="trans">
                                                        {{ insurance.blog_context }}
                                                    </p>
                                                </div>
                                                <div class="right">
                                                    <a href="service-details.html" class="link">
                                                        <svg width="25" height="25" viewBox="0 0 25 25" fill="none"
                                                            xmlns="http://www.w3.org/2000/svg">
                                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                                d="M6.53522 0H22.9415C23.2315 0 23.5098 0.115234 23.7149 0.320352C23.92 0.52547 24.0352 0.803669 24.0352 1.09375V17.5C24.0352 17.7901 23.92 18.0683 23.7149 18.2734C23.5098 18.4785 23.2315 18.5937 22.9415 18.5937C22.6514 18.5937 22.3732 18.4785 22.1681 18.2734C21.963 18.0683 21.8477 17.7901 21.8477 17.5V3.73333L1.83938 23.7417C1.63205 23.9349 1.35781 24.04 1.07446 24.035C0.791099 24.03 0.520746 23.9153 0.320352 23.7149C0.119958 23.5145 0.00516988 23.2441 0.000170402 22.9608C-0.00482908 22.6774 0.100351 22.4032 0.293551 22.1958L20.3019 2.1875H6.53522C6.24514 2.1875 5.96694 2.07227 5.76182 1.86715C5.5567 1.66203 5.44147 1.38383 5.44147 1.09375C5.44147 0.803669 5.5567 0.52547 5.76182 0.320352C5.96694 0.115234 6.24514 0 6.53522 0Z"
                                                                ></path>
                                                            <defs>
                                                                <linearGradient x1="-0.34336"
                                                                    y1="13.9061" x2="24.0352" y2="13.9061"
                                                                    gradientUnits="userSpaceOnUse">
                                                                    <stop stop-color="var(--color-set-one-1)"></stop>
                                                                    <stop offset="1" stop-color="var(--color-set-one-1)"></stop>
                                                                </linearGradient>
                                                            </defs>
                                                        </svg>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
    
                            </div>
                        </div>

                        <!---============spacing==========--->
                        <div class="pd_bottom_60"></div>
                        <!---============spacing==========--->
                    </section>
                    <!---service end-->
                </div>
                <!--content end-->
                <!--footer start-->
                {% include "include/footer.html"%}
                <!--footer  end-->
                <!----==============content_all_warpper==============--->
            </div>
            <!----==============content_all_warpper end==============--->
            <!----==============mobile_menu_box ==============--->
            <div class="mobile_menu_box">
                <div class="menu-backdrop"></div>
                <nav class="menu-box scrollbarcolor">
                    <div class="close-btn"><i class="fi-rr-cross"></i></div>
                    <form role="search" method="get" action="service-style-6.html#">
                        <input type="search" class="search" placeholder="Search..." value="" name="s" title="Search" />
                        <button type="submit" class="sch_btn"> <i class="fa fa-search"></i></button>
                    </form>
                    <div class="menu-outer">
                        <div class="navigation_menu">
                            <ul class="navbar_nav getmobilemenu">

                            </ul>
                        </div>
                    </div>
                    <div class="mobile-header-info-wrap">
                        <div class="single-mobile-header-info">
                            <a href="tel:9806071234" class="cnt"><i class="fi-rs-headphones"></i>9806071234</a>
                        </div>

                        <div class="single-mobile-header-info cont_over">
                            <a href="mailto:sendmail@example.com" class="cnt"><i
                                    class="fi-rs-envelope"></i>sendmail@example.com</a>
                        </div>
                        <div class="single-mobile-header-info">
                            <a href="service-style-6.html#" class="theme_btn tp_one">Contact</a>
                        </div>
                        <div class="single-mobile-header-info">
                            <a href="service-style-6.html#" class="theme_btn">Service</a>
                        </div>
                    </div>

                </nav>
            </div>
            <!----==============mobile_menu_box end==============--->
            <!----==============search-popup==============--->
            <div class="search-popup">
                <div class="close-search zoom-in-zoom-out"><i class="fa fa-times"></i></div>
                <div class="popup-inner">
                    <div class="overlay-layer"></div>
                    <div class="search-form">
                        <fieldset>
                            <form role="search" method="get" action="service-style-6.html#">
                                <input type="search" class="search" placeholder="Search..." value="" name="s"
                                    title="Search" />
                                <button type="submit" class="sch_btn"> <i class="fi-rs-search"></i></button>
                            </form>
                        </fieldset>
                    </div>
                </div>
            </div>
            <!----==============search-popup end==============--->
            <!----==============option_panel==============--->
            <div class="option_panel-popup">
                <div class="sdmenu_overlay"></div>
                <div class="option_boxed scrollbarcolor">
                    <div class="close-option-pan">
                        <i class="fi-rr-cross"></i>
                    </div>
                    <div class="option_content scrollbarcolor ">
                        <div class="log_bx">
                            <a href="service-style-6.html#" class="logo navbar-brand">
                                <img src="assets/images/theme-logo.png" alt="Vankine" class="logo_default">
                            </a>
                            <div class="about_company">
                                Denounce with righteous indignation and dislike men who are beguiled
                                and demoralized by the charms pleasure moment so blinded desire that
                                they cannot foresee the pain and trouble.
                            </div>
                        </div>
                        <div class="contnet_box">
                            <div class="post_contet_modal">
                                <h2 class="title_no_a_28"> Latest Portfolio</h2>
                                <div class="post_enable">
                                    <div class="theme_carousel owl-theme owl-carousel"
                                        data-options='{"loop": true, "margin": 10,  "autoheight":true, "lazyload":true, "nav": false, "dots": false, "autoplay": false, "autoplayTimeout": 6000, "smartSpeed": 300, "responsive":{ "0" :{ "items": "1" }, "340" :{ "items" : "1" } , "550" :{ "items" : "2" } , "768" :{ "items" : "2" } , "992":{ "items" : "2" }, "1200":{ "items" : "2" }}}'>
                                        <div class="modal_post_grid">
                                            <a href="blog-details.html">
                                                <img src="assets/images/blog/blog-9-min.png" class="main_img  img-fluid"
                                                    alt="img" />
                                                <h2 class="tit_ho title_no_a_20">
                                                    Former insures only the marine perils
                                                </h2>
                                            </a>
                                        </div>
                                        <div class="modal_post_grid">
                                            <a href="blog-details.html">
                                                <img src="assets/images/blog/blog-8-min.png" class="main_img  img-fluid"
                                                    alt="img" />
                                                <h2 class="tit_ho title_no_a_20">
                                                    Insurance covers risk of fire absence
                                                </h2>
                                            </a>
                                        </div>
                                        <div class="modal_post_grid">
                                            <a href="blog-details.html">
                                                <img src="assets/images/blog/blog-7-min.png" class="main_img  img-fluid"
                                                    alt="img" />
                                                <h2 class="tit_ho title_no_a_20">Erving the interests of our clients
                                                </h2>
                                            </a>
                                        </div>
                                        <div class="modal_post_grid">
                                            <a href="blog-details.html">
                                                <img src="assets/images/blog/blog-6.png" class="main_img  img-fluid"
                                                    alt="img" />
                                                <h2 class="tit_ho title_no_a_20">
                                                    Guide To Audio Visual With JavaScript GSA
                                                </h2>
                                            </a>
                                        </div>
                                        <div class="modal_post_grid">
                                            <a href="blog-details.html">
                                                <img src="assets/images/blog/blog-5.png" class="main_img  img-fluid"
                                                    alt="img" />
                                                <h2 class="tit_ho title_no_a_20">
                                                    Building Web Layouts For Dual Foldable
                                                    Devices
                                                </h2>
                                            </a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <h2 class="title_no_a_28"> Need Any Help? Or Looking For an Agent</h2>
                            <div class="contact_panel">
                                <div class="c_pan">
                                    <a href="tel:9806071234">
                                        <i class="fi-rr-phone-call"></i> 9806071234 </a>
                                </div>
                                <div class="c_pan">
                                    <a href="mailto:sendmail@example.com">
                                        <i class="fi-rr-envelope"></i> sendmail@example.com </a>
                                </div>
                                <div class="c_pan">
                                    <a class="wk_hours">
                                        <i class="fi-rr-time-check"></i> Working Hours : <span> Sun-monday,
                                            09am-5pm </span> </a>
                                </div>
                            </div>
                            <div class="c_pan">
                                © 2022 Vankine. All Rights Reserved.
                            </div>
                        </div>


                    </div>
                </div>
            </div>
            <!----==============option_panel end==============--->
            <!-- Back to top with progress indicator-->
            <div class="prgoress_indicator">
                <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
                    <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
                </svg>
            </div>
            <!----=============page_wapper end=============---->
        </div>
        <!----=============page_wapper end=============---->

        <!----=================Script================---->
        {% endblock %}