{% extends "include/homepage.html" %}
{% load static %}
{% block content %}

 
    <body class="theme-vankine scrollbarcolor">
        <!----=============page_wapper=============---->
        <div id="page" class="page_wapper hfeed site">
            <!----=============page_wapper=============---->
            <!----=============Preloader=============---->
            <div class="loader-wrap">
                <div class="preloader">
                    <div class="preloader-close"><i class="fi-rr-cross"></i></div>
                </div>
                <div class="layer"> </div>
                <div class="animation-preloader">
                    <div class="spinner"></div>
                </div>
            </div>
            <!----=============Preloader end=============---->
            <!----=============Header=============---->
            {% include "include/header.html" %}
            <!----==============sticky header end==============--->
            <!----==============content_all_warpper==============--->
            <div id="wrapper_full" class="content_all_warpper">
                <!----==============content_all_warpper==============--->
                <!----==============page header==============--->
                <section class="page_header_default pg_bg_cover alignment_center">
                    <div class="bakground_cover" style="background-image:url({{ team.image.url }})"></div>
                    <div class="page_header_content">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="banner_title_inner">
                                        <div class="title">
                                            <span class="main_tit">{{ team.title }}</span> </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 vankine">
                                    <ul class="breadcrumb m-auto">
                                        <li><a href="team-detail.html#">{{ team.context }}</a> </li>
                                        <li class="active">{{ team.end }}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!----==============page header==============--->
                <!--content start-->
                <div id="content" class="site-content">
                    <!---team-section-->
                    <section class="team-section-one">
                        <!---============spacing==========--->
                        <div class="pd_top_90"></div>
                        <!---============spacing==========--->
                        <div class="container">
                            <div class="row align-items-center">
                                <div class="col-lg-5 col-md-12">
                                    <div class="image">
                                        <img src="{{ team_details.image.url }}" class="img-fluid" alt="img" />
                                    </div>
                                </div>
                                <div class="col-lg-7 col-md-12 pd_left_60">
                                    <div class="section_title type_one">
                                        <div class="title_whole">
                                            <h2 class="title">{{ team_details.title }}</h2>
                                        </div>
                                    </div>
                                    <!---============spacing==========--->
                                    <div class="pd_bottom_10"></div>
                                    <!---============spacing==========--->
                                    <div class="section_title type_one">
                                        <h4 class="sm_title">{{ team_details.context }}</h4>
                                        <p class="pd_top_0"> {{ team_details.text }}</p>
                                    </div>
                                    <!---============spacing==========--->
                                    <div class="pd_bottom_40"></div>
                                    <!---============spacing==========--->
                                    <div
                                        class="box bg_light_1 pd_top_50 pd_bottom_50 pd_left_50 pd_right_50 md_pd_left_15 md_pd_right_15">
                                        <div class="progress_bar">
                                            <div class="d-flex align-items-center">
                                                <h6 class="title_no_a_18">{{ team_details.text1 }}</h6>
                                                <div> <span class="count">79</span>%</div>
                                            </div>
                                            <div class="bar">
                                                <div class="bar-inner count-bar counted" data-percent="79%"
                                                    style="width: 79%;"></div>
                                            </div>
                                        </div>
                                        <!---============spacing==========--->
                                        <div class="pd_bottom_20"></div>
                                        <!---============spacing==========--->
                                        <div class="progress_bar">
                                            <div class="d-flex align-items-center">
                                                <h6 class="title_no_a_18">{{ team_details.text2 }}</h6>
                                                <div> <span class="count">93</span>%</div>
                                            </div>
                                            <div class="bar">
                                                <div class="bar-inner count-bar counted" data-percent="93%"
                                                    style="width: 93%;"></div>
                                            </div>
                                        </div>
                                        <!---============spacing==========--->
                                        <div class="pd_bottom_20"></div>
                                        <!---============spacing==========--->
                                        <div class="progress_bar">
                                            <div class="d-flex align-items-center">
                                                <h6 class="title_no_a_18">{{ team_details.text3 }}</h6>
                                                <div> <span class="count">65</span>%</div>
                                            </div>
                                            <div class="bar">
                                                <div class="bar-inner count-bar counted" data-percent="65%"
                                                    style="width: 65%;"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!---team-section-->
                    <!---team-section-->
                    <section class="team-section-two">
                        <!---============spacing==========--->
                        <div class="pd_top_90"></div>
                        <!---============spacing==========--->
                        <div class="container">
                            <div class="row align-items-center">

                                <div class="col-lg-6 col-md-12">
                                    <div class="section_title type_one">
                                        <h4 class="sm_title">{{ experience_id.title }}</h4>
                                        <div class="title_whole">
                                            <h2 class="title">{{ experience_id.context }}</h2>
                                        </div>
                                        <p>{{ experience_id.text }}</p>
                                    </div>
                                    <!---============spacing==========--->
                                    <div class="pd_bottom_30"></div>
                                    <!---============spacing==========--->
                                    <div class="row">
                                        <div class="col">
                                            <div class="position-relative">
                                                <ul class="list_box list">
                                                    {% for experience in experience_all %}
                                                    <li>
                                                        <div class="d-flex align-items-center">
                                                            <div class="icon trans">
                                                                <i class=" flaticon-check-mark"></i></div>
                                                            <a class="links" href="team-detail">{{ experience.kolonki1 }}</a>
                                                        </div>
                                                    </li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                            <!---============spacing==========--->
                                            <div class="pd_bottom_20"></div>
                                            <!---============spacing==========--->
                                        </div>
                                        <div class="col">
                                            <div class="position-relative">
                                                <ul class="list_box list">
                                                    {% for experienc in experience_all %}
                                                    <li>
                                                        <div class="d-flex align-items-center">
                                                            <div class="icon trans">
                                                                <i class=" flaticon-check-mark"></i></div>
                                                            <a class="links" href="team-detail">
                                                                {{ experienc.kolonki2 }} </a>
                                                        </div>
                                                    </li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                            <!---============spacing==========--->
                                            <div class="pd_bottom_20"></div>
                                            <!---============spacing==========--->
                                        </div>
                                    </div>
                                    <!---============spacing==========--->
                                    <div class="pd_bottom_10"></div>
                                    <!---============spacing==========--->
                                    <div class="theme_btn_all">
                                        <a href="team-detail" class="theme_btn big rotate">
                                            Contact us <span> <i class="fi-rr-arrow-small-right"></i></span>
                                        </a></div>
                                    <!---============spacing==========--->
                                    <div class="pd_bottom_20"></div>
                                    <!---============spacing==========--->
                                </div>
                                <div class="col-lg-6 col-md-12">
                                    <div class="image">
                                        <img src="{{ experience_id.image.url }}" class="img-fluid" alt="img" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!---============spacing==========--->
                        <div class="pd_bottom_90"></div>
                        <!---============spacing==========--->
                    </section>
                    <!---team-section-->
                    <!--form-->
                    <section class="form-section bg_light_1 position-relative">
                        <!---============spacing==========--->
                        <div class="pd_top_90"></div>
                        <!---============spacing==========--->
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-4 col-md-12">
                                    <div class="section_title type_one">
                                        <h4 class="sm_title">{{ getintouch.title }}</h4>
                                        <div class="title_whole">
                                            <h2 class="title">{{ getintouch.context }}</h2>
                                        </div>
                                        <p> {{ getintouch.text }}</p>
                                    </div>
                                    <!---============spacing==========--->
                                    <div class="pd_bottom_40"></div>
                                    <!---============spacing==========--->
                                    <div class="social-icons">
                                        <ul>
                                            <li><a href="team-detail" class="m_icon"> <i class="fab fa-facebook"></i>
                                                </a></li>
                                            <li><a href="team-detail" class="m_icon"> <i class="fab fa-twitter"></i>
                                                </a></li>
                                            <li><a href="team-detail" class="m_icon"> <i class="fab fa-skype"></i>
                                                </a></li>
                                            <li><a href="team-detail" class="m_icon"> <i class="fab fa-instagram"></i>
                                                </a></li>
                                        </ul>
                                    </div>
                                    <!---============spacing==========--->
                                    <div class="pd_bottom_20"></div>
                                    <!---============spacing==========--->
                                </div>
                                <div class="col-lg-8 col-md-12">
                                    <section class="contact_form_box_all">
                                        <div class="contact_form_shortcode">
                                           
                                                <form method="post" action="team-detail">
                                                    <div class="row">
                                                        <div class="col-lg-6 col-md-6 col-sm-12 mr_bottom_15">
                                                            <input type="text" name="full-name" placeholder="ФИО"
                                                                required="">
                                                        </div>
                                                        <div class="col-lg-6 col-md-6 col-sm-12 mr_bottom_15">
                                                            <input type="text" name="Phone" placeholder="Номер телефона">
                                                        </div>
                                                        <div class="col-sm-12 mr_bottom_15">
                                                            <input type="email" name="email" placeholder="Email Address"  required="">
                                                        </div>
                                                        <div class="col-sm-12 mr_bottom_15">
                                                            <textarea name="message" placeholder="Сообщение" maxlength="3"></textarea>
                                                        </div>
                                                        <div class="col-sm-12">
                                                            <button type="submit">{{ getintouch.end }}</button>
                                                        </div>
                                                    </div>

                                                </form>
                                           
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </div>
                        <div class="ab_img_left_bottom z_0 mr_top_minus_150">
                            <img src="assets/images/bg-1.png" class="img-fluid" alt="img">
                        </div>
                        <!---============spacing==========--->
                        <div class="pd_bottom_90"></div>
                        <!---============spacing==========--->
                    </section>
                    <!--form-->
                </div>
                <!--content end-->
                <!--footer start-->
                {% include "include/footer.html"%}
                <!--footer  end-->
                <!----==============content_all_warpper==============--->
            </div>
            <!----==============content_all_warpper end==============--->
            <!----==============mobile_menu_box ==============--->
            <div class="mobile_menu_box">
                <div class="menu-backdrop"></div>
                <nav class="menu-box scrollbarcolor">
                    <div class="close-btn"><i class="fi-rr-cross"></i></div>
                    <form role="search" method="get" action="team-detail.html#">
                        <input type="search" class="search" placeholder="Search..." value="" name="s" title="Search" />
                        <button type="submit" class="sch_btn"> <i class="fa fa-search"></i></button>
                    </form>
                    <div class="menu-outer">
                        <div class="navigation_menu">
                            <ul class="navbar_nav getmobilemenu">

                            </ul>
                        </div>
                    </div>
                    <div class="mobile-header-info-wrap">
                        <div class="single-mobile-header-info">
                            <a href="tel:9806071234" class="cnt"><i class="fi-rs-headphones"></i>9806071234</a>
                        </div>

                        <div class="single-mobile-header-info cont_over">
                            <a href="mailto:sendmail@example.com" class="cnt"><i
                                    class="fi-rs-envelope"></i>sendmail@example.com</a>
                        </div>
                        <div class="single-mobile-header-info">
                            <a href="team-detail.html#" class="theme_btn tp_one">Contact</a>
                        </div>
                        <div class="single-mobile-header-info">
                            <a href="team-detail.html#" class="theme_btn">Service</a>
                        </div>
                    </div>

                </nav>
            </div>
            <!----==============mobile_menu_box end==============--->
            <!----==============search-popup==============--->
            <div class="search-popup">
                <div class="close-search zoom-in-zoom-out"><i class="fa fa-times"></i></div>
                <div class="popup-inner">
                    <div class="overlay-layer"></div>
                    <div class="search-form">
                        <fieldset>
                            <form role="search" method="get" action="team-detail.html#">
                                <input type="search" class="search" placeholder="Search..." value="" name="s"
                                    title="Search" />
                                <button type="submit" class="sch_btn"> <i class="fi-rs-search"></i></button>
                            </form>
                        </fieldset>
                    </div>
                </div>
            </div>
            <!----==============search-popup end==============--->
            <!----==============option_panel==============--->
            <div class="option_panel-popup">
                <div class="sdmenu_overlay"></div>
                <div class="option_boxed scrollbarcolor">
                    <div class="close-option-pan">
                        <i class="fi-rr-cross"></i>
                    </div>
                    <div class="option_content scrollbarcolor ">
                        <div class="log_bx">
                            <a href="team-detail" class="logo navbar-brand">
                                <img src="assets/images/theme-logo.png" alt="Vankine" class="logo_default">
                            </a>
                            <div class="about_company">
                                Denounce with righteous indignation and dislike men who are beguiled
                                and demoralized by the charms pleasure moment so blinded desire that
                                they cannot foresee the pain and trouble.
                            </div>
                        </div>
                        <div class="contnet_box">
                            <div class="post_contet_modal">
                                <h2 class="title_no_a_28"> Latest Portfolio</h2>
                                <div class="post_enable">
                                    <div class="theme_carousel owl-theme owl-carousel"
                                        data-options='{"loop": true, "margin": 10,  "autoheight":true, "lazyload":true, "nav": false, "dots": false, "autoplay": false, "autoplayTimeout": 6000, "smartSpeed": 300, "responsive":{ "0" :{ "items": "1" }, "340" :{ "items" : "1" } , "550" :{ "items" : "2" } , "768" :{ "items" : "2" } , "992":{ "items" : "2" }, "1200":{ "items" : "2" }}}'>
                                        <div class="modal_post_grid">
                                            <a href="blog-details">
                                                <img src="assets/images/blog/blog-9-min.png" class="main_img  img-fluid"
                                                    alt="img" />
                                                <h2 class="tit_ho title_no_a_20">
                                                    Former insures only the marine perils
                                                </h2>
                                            </a>
                                        </div>
                                        <div class="modal_post_grid">
                                            <a href="blog-details">
                                                <img src="assets/images/blog/blog-8-min.png" class="main_img  img-fluid"
                                                    alt="img" />
                                                <h2 class="tit_ho title_no_a_20">
                                                    Insurance covers risk of fire absence
                                                </h2>
                                            </a>
                                        </div>
                                        <div class="modal_post_grid">
                                            <a href="blog-details">
                                                <img src="assets/images/blog/blog-7-min.png" class="main_img  img-fluid"
                                                    alt="img" />
                                                <h2 class="tit_ho title_no_a_20">Erving the interests of our clients
                                                </h2>
                                            </a>
                                        </div>
                                        <div class="modal_post_grid">
                                            <a href="blog-details">
                                                <img src="assets/images/blog/blog-6.png" class="main_img  img-fluid"
                                                    alt="img" />
                                                <h2 class="tit_ho title_no_a_20">
                                                    Guide To Audio Visual With JavaScript GSA
                                                </h2>
                                            </a>
                                        </div>
                                        <div class="modal_post_grid">
                                            <a href="blog-details">
                                                <img src="assets/images/blog/blog-5.png" class="main_img  img-fluid"
                                                    alt="img" />
                                                <h2 class="tit_ho title_no_a_20">
                                                    Building Web Layouts For Dual Foldable
                                                    Devices
                                                </h2>
                                            </a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <h2 class="title_no_a_28"> Need Any Help? Or Looking For an Agent</h2>
                            <div class="contact_panel">
                                <div class="c_pan">
                                    <a href="tel:9806071234">
                                        <i class="fi-rr-phone-call"></i> 9806071234 </a>
                                </div>
                                <div class="c_pan">
                                    <a href="mailto:sendmail@example.com">
                                        <i class="fi-rr-envelope"></i> sendmail@example.com </a>
                                </div>
                                <div class="c_pan">
                                    <a class="wk_hours">
                                        <i class="fi-rr-time-check"></i> Working Hours : <span> Sun-monday,
                                            09am-5pm </span> </a>
                                </div>
                            </div>
                            <div class="c_pan">
                                © 2022 Vankine. All Rights Reserved.
                            </div>
                        </div>


                    </div>
                </div>
            </div>
            <!----==============option_panel end==============--->
            <!-- Back to top with progress indicator-->
            <div class="prgoress_indicator">
                <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
                    <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
                </svg>
            </div>
            <!----=============page_wapper end=============---->
        </div>
        <!----=============page_wapper end=============---->

        <!----=================Script================---->
        {% endblock %}