{% extends "include/homepage.html" %}
{% load static %}
{% block content %}
 
    <body class="theme-vankine scrollbarcolor">
        <!----=============page_wapper=============---->
        <div id="page" class="page_wapper hfeed site">
            <!----=============page_wapper=============---->
            <!----=============Preloader=============---->
            <div class="loader-wrap">
                <div class="preloader">
                    <div class="preloader-close"><i class="fi-rr-cross"></i></div>
                </div>
                <div class="layer"> </div>
                <div class="animation-preloader">
                    <div class="spinner"></div>
                </div>
            </div>
            <!----=============Preloader end=============---->
            <!----=============Header=============---->
            {% include "include/header.html" %}
            <!----==============sticky header end==============--->
            <!----==============content_all_warpper==============--->
            <div id="wrapper_full" class="content_all_warpper">
                <!----==============content_all_warpper==============--->
                <!----==============page header==============--->
                <section class="page_header_default pg_bg_cover alignment_center">
                    <div class="bakground_cover" style="background-image:url({{ main.image.url }})"></div>
                    <div class="page_header_content">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="banner_title_inner">
                                        <div class="title">
                                            <span class="main_tit">{{ main.title }}</span> </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 vankine">
                                    <ul class="breadcrumb m-auto">
                                        <li><a href="team.html#">{{ main.context }}</a> </li>
                                        <li class="active">{{ main.end }}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!----==============page header==============--->
                <!--content start-->
                <div id="content" class="site-content">
                    <!--team-->
                    <section class="team-section">
                        <!---============spacing==========--->
                        <div class="pd_top_80"></div>
                        <!---============spacing==========--->
                        <div class="container">

                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="section_title text-center type_one">
                                        <h4 class="sm_title">{{ team_id.title }}</h4>
                                        <div class="title_whole">
                                            <h2 class="title">{{ team_id.context }}</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!---============spacing==========--->
                            <div class="pd_bottom_40"></div>
                            <!---============spacing==========--->
                            <div class="row">
                                {% for team in team_all %}
                                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                    <div class="team_box type_two">
                                        <div class="team_box_inner">
                                            <div class="contnet">
                                                <h6 class="title_22">
                                                    <a href="team.html#">
                                                        {{ team.blog_title }} </a></h6>
                                                <p>{{ team.blog_context }}</p>
                                            </div>
                                            <div class="image_box">
                                                <img src="{{ team.image_blog.url }}" alt="img"
                                                    class="img-fluid" />

                                                <div class="social-icons trans">
                                                    <ul>
                                                        <li>
                                                            <a href="team.html#" class="m_icon">
                                                                <i class="fab fa-facebook"></i>
                                                            </a></li>
                                                        <li>
                                                            <a href="team.html#" class="m_icon">
                                                                <i class="fab fa-twitter"></i>
                                                            </a></li>
                                                        <li>
                                                            <a href="team.html#" class="m_icon">
                                                                <i class="fab fa-skype"></i>
                                                            </a></li>
                                                        <li>
                                                            <a href="team.html#" class="m_icon">
                                                                <i class="fab fa-instagram"></i>
                                                            </a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                            <div class="row">
                                {% for team2 in team_all %}
                                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                    <div class="team_box type_two">
                                        <div class="team_box_inner">
                                            <div class="contnet">
                                                <h6 class="title_22">
                                                    <a href="team.html#">
                                                        {{ team2.blog_title2 }} </a></h6>
                                                <p>{{ team2.blog_context2 }}</p>
                                            </div>
                                            <div class="image_box">
                                                <img src="{{ team2.image_blog2.url }}" alt="img" class="img-fluid" />

                                                <div class="social-icons trans">
                                                    <ul>
                                                        <li>
                                                            <a href="team.html#" class="m_icon">
                                                                <i class="fab fa-facebook"></i>
                                                            </a></li>
                                                        <li>
                                                            <a href="team.html#" class="m_icon">
                                                                <i class="fab fa-twitter"></i>
                                                            </a></li>
                                                        <li>
                                                            <a href="team.html#" class="m_icon">
                                                                <i class="fab fa-skype"></i>
                                                            </a></li>
                                                        <li>
                                                            <a href="team.html#" class="m_icon">
                                                                <i class="fab fa-instagram"></i>
                                                            </a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <!---============spacing==========--->
                        <div class="pd_bottom_80"></div>
                        <!---============spacing==========--->
                    </section>
                    <!--team-->
                    <!--content-->
                    <section class="content-section">
                        <div class="medium-container-two">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="image_video_box_only  type_one mr_bottom_minus_140 z_1">
                                        <div class="image one height_600px">
                                            <img src="assets/images/team/team-ex-1-min.png" alt="img"
                                                class="img-fluid height_600px">
                                            <div class="video_box video-inner text-center">
                                                <a href="https://youtu.be/RN81h85V6D4" class="lightbox-image">
                                                    <i class="fi-rr-play"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 pd_left_80 pd_bottom_30">
                                       <!---============spacing==========--->
                                       <div class="pd_top_30"></div>
                                       <!---============spacing==========--->
                                    <div class="section_title type_one"><h4 class="sm_title"> Popular Skills</h4><div class="title_whole"><h2 class="title"> We’re Best Experience
                                        Insurance Provider</h2></div><p> Sit amet consectetur adipiscing elites varius montes, massa
                                        blandit orci. Sed egestas tellu aliquet egetristique</p></div>
                                    <!---============spacing==========--->
                                    <div class="pd_bottom_30"></div>
                                    <!---============spacing==========--->
                                    <div class="progress_bar"><div class="d-flex align-items-center"><h6 class="title_no_a_18">Development</h6><div> <span class="count">79</span>%</div></div><div class="bar"><div class="bar-inner count-bar counted" data-percent="79%" style="width: 79%;"></div></div></div>
                                    <!---============spacing==========--->
                                    <div class="pd_bottom_20"></div>
                                    <!---============spacing==========--->
                                    <div class="progress_bar"><div class="d-flex align-items-center"><h6 class="title_no_a_18">Banking &amp; Transactions</h6><div> <span class="count">93</span>%</div></div><div class="bar"><div class="bar-inner count-bar counted" data-percent="93%" style="width: 93%;"></div></div></div>
                                    <!---============spacing==========--->
                                    <div class="pd_bottom_60"></div>
                                    <!---============spacing==========--->
                                    
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <!--content end-->
                <!--footer start-->
                {% include "include/footer.html"%}
                <!--footer  end-->
                <!----==============content_all_warpper==============--->
            </div>
            <!----==============content_all_warpper end==============--->
            <!----==============mobile_menu_box ==============--->
            <div class="mobile_menu_box">
                <div class="menu-backdrop"></div>
                <nav class="menu-box scrollbarcolor">
                    <div class="close-btn"><i class="fi-rr-cross"></i></div>
                    <form role="search" method="get" action="team.html#">
                        <input type="search" class="search" placeholder="Search..." value="" name="s" title="Search" />
                        <button type="submit" class="sch_btn"> <i class="fa fa-search"></i></button>
                    </form>
                    <div class="menu-outer">
                        <div class="navigation_menu">
                            <ul class="navbar_nav getmobilemenu">

                            </ul>
                        </div>
                    </div>
                    <div class="mobile-header-info-wrap">
                        <div class="single-mobile-header-info">
                            <a href="tel:9806071234" class="cnt"><i class="fi-rs-headphones"></i>9806071234</a>
                        </div>

                        <div class="single-mobile-header-info cont_over">
                            <a href="mailto:sendmail@example.com" class="cnt"><i
                                    class="fi-rs-envelope"></i>sendmail@example.com</a>
                        </div>
                        <div class="single-mobile-header-info">
                            <a href="team.html#" class="theme_btn tp_one">Contact</a>
                        </div>
                        <div class="single-mobile-header-info">
                            <a href="team.html#" class="theme_btn">Service</a>
                        </div>
                    </div>

                </nav>
            </div>
            <!----==============mobile_menu_box end==============--->
            <!----==============search-popup==============--->
            <div class="search-popup">
                <div class="close-search zoom-in-zoom-out"><i class="fa fa-times"></i></div>
                <div class="popup-inner">
                    <div class="overlay-layer"></div>
                    <div class="search-form">
                        <fieldset>
                            <form role="search" method="get" action="team.html#">
                                <input type="search" class="search" placeholder="Search..." value="" name="s"
                                    title="Search" />
                                <button type="submit" class="sch_btn"> <i class="fi-rs-search"></i></button>
                            </form>
                        </fieldset>
                    </div>
                </div>
            </div>
            <!----==============search-popup end==============--->
            <!----==============option_panel==============--->
            <div class="option_panel-popup">
                <div class="sdmenu_overlay"></div>
                <div class="option_boxed scrollbarcolor">
                    <div class="close-option-pan">
                        <i class="fi-rr-cross"></i>
                    </div>
                    <div class="option_content scrollbarcolor ">
                        <div class="log_bx">
                            <a href="team.html#" class="logo navbar-brand">
                                <img src="assets/images/theme-logo.png" alt="Vankine" class="logo_default">
                            </a>
                            <div class="about_company">
                                Denounce with righteous indignation and dislike men who are beguiled
                                and demoralized by the charms pleasure moment so blinded desire that
                                they cannot foresee the pain and trouble.
                            </div>
                        </div>
                        <div class="contnet_box">
                            <div class="post_contet_modal">
                                <h2 class="title_no_a_28"> Latest Portfolio</h2>
                                <div class="post_enable">
                                    <div class="theme_carousel owl-theme owl-carousel"
                                        data-options='{"loop": true, "margin": 10,  "autoheight":true, "lazyload":true, "nav": false, "dots": false, "autoplay": false, "autoplayTimeout": 6000, "smartSpeed": 300, "responsive":{ "0" :{ "items": "1" }, "340" :{ "items" : "1" } , "550" :{ "items" : "2" } , "768" :{ "items" : "2" } , "992":{ "items" : "2" }, "1200":{ "items" : "2" }}}'>
                                        <div class="modal_post_grid">
                                            <a href="blog-details.html">
                                                <img src="assets/images/blog/blog-9-min.png" class="main_img  img-fluid"
                                                    alt="img" />
                                                <h2 class="tit_ho title_no_a_20">
                                                    Former insures only the marine perils
                                                </h2>
                                            </a>
                                        </div>
                                        <div class="modal_post_grid">
                                            <a href="blog-details.html">
                                                <img src="assets/images/blog/blog-8-min.png" class="main_img  img-fluid"
                                                    alt="img" />
                                                <h2 class="tit_ho title_no_a_20">
                                                    Insurance covers risk of fire absence
                                                </h2>
                                            </a>
                                        </div>
                                        <div class="modal_post_grid">
                                            <a href="blog-details.html">
                                                <img src="assets/images/blog/blog-7-min.png" class="main_img  img-fluid"
                                                    alt="img" />
                                                <h2 class="tit_ho title_no_a_20">Erving the interests of our clients
                                                </h2>
                                            </a>
                                        </div>
                                        <div class="modal_post_grid">
                                            <a href="blog-details.html">
                                                <img src="assets/images/blog/blog-6.png" class="main_img  img-fluid"
                                                    alt="img" />
                                                <h2 class="tit_ho title_no_a_20">
                                                    Guide To Audio Visual With JavaScript GSA
                                                </h2>
                                            </a>
                                        </div>
                                        <div class="modal_post_grid">
                                            <a href="blog-details.html">
                                                <img src="assets/images/blog/blog-5.png" class="main_img  img-fluid"
                                                    alt="img" />
                                                <h2 class="tit_ho title_no_a_20">
                                                    Building Web Layouts For Dual Foldable
                                                    Devices
                                                </h2>
                                            </a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <h2 class="title_no_a_28"> Need Any Help? Or Looking For an Agent</h2>
                            <div class="contact_panel">
                                <div class="c_pan">
                                    <a href="tel:9806071234">
                                        <i class="fi-rr-phone-call"></i> 9806071234 </a>
                                </div>
                                <div class="c_pan">
                                    <a href="mailto:sendmail@example.com">
                                        <i class="fi-rr-envelope"></i> sendmail@example.com </a>
                                </div>
                                <div class="c_pan">
                                    <a class="wk_hours">
                                        <i class="fi-rr-time-check"></i> Working Hours : <span> Sun-monday,
                                            09am-5pm </span> </a>
                                </div>
                            </div>
                            <div class="c_pan">
                                © 2022 Vankine. All Rights Reserved.
                            </div>
                        </div>


                    </div>
                </div>
            </div>
            <!----==============option_panel end==============--->
            <!-- Back to top with progress indicator-->
            <div class="prgoress_indicator">
                <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
                    <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
                </svg>
            </div>
            <!----=============page_wapper end=============---->
        </div>
        <!----=============page_wapper end=============---->

        <!----=================Script================---->
        {% endblock %}  